// noon style
$mobile-width: 320px;
$lmobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$ldesktop-width: 1200px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin lmobile {
  @media (min-width: #{$lmobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ldesktop {
  @media (min-width: #{$ldesktop-width}) {
    @content;
  }
}

// .color-white { color: #fff; }


// .bg-gray { background: #4f4f4f }
// .bg-orange { background: #f0871c }
// .bg-white { background: #f5f5f5 }
// .bg-black { background: #000 }

.btn-blue { background: #00b1b8; border-color: transparent; color: #fff; border-radius:0;
  &:hover { background: darken(#00b1b8,10%); color: #fff;}
}
// .btn-white { background: #fff; border-color: #4FBBBC; color: #4FBBBC;
//   &:hover { background: rgba(79, 187, 188, 0.1); color: #4FBBBC;}
// }

$main-color : #00b1b8;
$black-color : #231F20;
$white-color : #ffffff;
html { font-size: 62.5%;
  @include mobile { font-size: 50%; }
  @include lmobile { font-size: 55%; }
  @include tablet { font-size: 62.5%; }
}
body { color: $black-color; font-size: 16px; font-size: 1.6rem; line-height: 1.525; font-family: "Open Sans" }
.h1, .h2, .h3, h1, h2, h3 { margin-bottom: 1rem }
.h1,h1 { font-size: 38px; font-size: 3.8rem; }
.h2,h2 { font-size: 30px; font-size: 3rem; }
.h3,h3 { font-size: 24px; font-size: 2.4rem; }
.h4,h4 { font-size: 18px; font-size: 1.8rem; }
.h5,h5 { font-size: 14px; font-size: 1.4rem; }
.h6,h6 { font-size: 12px; font-size: 1.2rem; }
.orange { color: $main-color; }
.white { color: $white-color; }
.mb15 { margin-bottom: 15px; }
.mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; }
a { color: $main-color; -webkit-transition:All .3s ease;-moz-transition:All .3s ease;-o-transition:All .3s ease;-ms-transition:All .3s ease;
  &:hover { color: darken($main-color, 10%); }
}
.form-control { border: 1px solid #bfd8d8; box-shadow: none; color: #4e5b64; height: 50px;
  &:hover { border: 1px solid #4FBBBC; }
}
.form-group { margin-bottom: 20px; }
.checkbox, .radio {margin-bottom: 15px;}
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }

// header
.navbar-aba { border: none; font-family: 'Roboto', sans-serif; padding: 1rem 0;
  &.affix { background: #fff;}
  @include mobile { background: #fff; }
  @include tablet { background: none; }
  // .dropdown-menu { background: #716f70; text-align: right; border: none;
  //   a { color: $white-color; font-size: 2rem;
  //     &:hover { color: $white-color; background: none; }
  //   }
  // }
  // .navbar-right { margin-top: 7px; }
}
.navbar-aba .navbar-brand{ margin-right: 3rem; padding-top: 0; padding-bottom:0; height: 36px; }
// .navbar-aba .navbar-brand:focus,.navbar-aba .navbar-brand:hover{color:#5e5e5e;background-color:transparent}
// .navbar-aba .navbar-text{color: $black-color; }
.navbar-aba .navbar-nav>li>a{color: #e64028; font-size: 1.6rem; text-transform: uppercase; font-weight: 500; padding: 0.8rem 2.5rem;  margin-right:1rem;
  @include mobile { border-radius: 0; }
  @include tablet { border-radius: 1.5rem; margin-right:0.5rem; padding: 0.6rem 2rem; font-size: 1.4rem;}
  @include desktop { margin-right:1rem; padding: 0.8rem 2.5rem; font-size: 1.6rem;}
}
.navbar-aba .navbar-nav>li>a:focus,.navbar-aba .navbar-nav>li>a:hover{color:#fff;background-color:#00b1b8;}
.navbar-aba .navbar-nav>.active>a,.navbar-aba .navbar-nav>.active>a:focus,.navbar-aba .navbar-nav>.active>a:hover{color:#fff;background-color:#00b1b8;}
.navbar-aba .navbar-nav>.disabled>a,.navbar-aba .navbar-nav>.disabled>a:focus,.navbar-aba .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}
.navbar-aba .navbar-toggle{border-color:#ddd}
.navbar-aba .navbar-toggle:focus,.navbar-aba .navbar-toggle:hover{background-color:#ddd}
.navbar-aba .navbar-toggle .icon-bar{background-color:#888}
.navbar-aba .navbar-collapse,.navbar-aba .navbar-form{border-color:#e7e7e7}
.navbar-aba .navbar-nav>.open>a,.navbar-aba .navbar-nav>.open>a:focus,.navbar-aba .navbar-nav>.open>a:hover{background-color:#f0f1f1}

// home intro
.home-intro { color: #252d37;  position: relative;
  .home-intro { position: absolute; top: 5%; left:0; width: 100%;
    @include mobile { position: relative; top: 0; padding: 0 1.5rem; background: #fdf7e9; padding: 1.5rem 0; }
    @include tablet { position: absolute; top: 5%; background: none;}
  }
  h1{ font-size: 4.5rem; font-weight: 700; text-transform: uppercase;
    @include mobile { font-size: 3.5rem; margin-top: 0; }
    @include tablet { font-size: 4.5rem; margin-top: 1.5rem;}
  }
  h2{ font-size: 3.6rem; font-weight: 700;text-transform: uppercase;
    @include mobile { font-size: 2.8rem; margin-top: .5rem;}
    @include tablet { font-size: 3.6rem; }
  }
}

// home second
.home-second { padding: 3rem 0;
  h2 { font-size: 4.5rem; font-weight: 700; text-transform: uppercase; color: #252d37; margin-bottom: 2rem;
    @include mobile { font-size: 3.5rem;}
    @include tablet { font-size: 4.5rem; }
  }
  p { font-family: 'Roboto', sans-serif; font-weight: 100; color: #555; margin-bottom: 2rem; font-size: 1.8rem;}
  .btn { font-weight: 700; text-transform: uppercase; font-size: 2.7rem; padding-right: 3rem; padding-left: 3rem;
    @include mobile { font-size: 2rem; }
    @include tablet { font-size: 2.7rem; }
  }
}

// coming
.coming { color: #252d37;  position: relative;
  @include mobile {  margin-top: 9rem; }
  @include desktop { margin-top: 0;}
  .coming-intro { position: absolute; top: 5%; left:0; width: 100%;
    @include mobile { position: relative; top: 0; padding: 0rem 1.5rem;  }
    @include tablet { position: absolute; top: 5%; }
  }
  h1{ font-size: 4.5rem; font-weight: 700; text-transform: uppercase; color: #252d37;
    @include mobile { font-size: 3.5rem;}
    @include tablet { font-size: 4.5rem; }
  }
  p { font-family: 'Roboto', sans-serif; font-weight: 100; color: #555; margin-bottom: 2rem; font-size: 1.8rem;
  }
}

// process
.process {
  @include mobile { padding-top: 5rem;   }
  @include tablet { padding-top: 3rem; }
  h1{ font-size: 4.5rem; font-weight: 700; text-transform: uppercase; color: #3f454d;
    @include mobile { font-size: 3.5rem;}
    @include tablet { font-size: 4.5rem; }
    span { color: #f6ba18; }
  }
  p { font-family: 'Roboto', sans-serif; font-weight: 100; color: #666; margin-bottom: 2rem; font-size: 1.8rem;
  }
  .process-holder { position: relative;
    .process-1 { width: 50%;
      @include mobile {width: 100%; }
      @include desktop { width: 50%; }
    }
    .infos { position: absolute; top: 5%; left:0; width: 100%;
      @include mobile { position: relative; top: 0;  }
      @include desktop { position: absolute; top: 5%; }
    }
    .ask { position: absolute; bottom: 15%; left:0; width: 100%;
      @include mobile { position: relative; bottom: 0;  }
      @include desktop { position: absolute; bottom: 20%; }
    }
  }
  .process-design { padding-top: 30rem;
    @include mobile {padding-top: 0rem; }
    @include desktop { padding-top: 30rem; }
  }
  .process-release { padding-top: 20rem;
    @include mobile {padding-top: 0rem; }
    @include desktop { padding-top: 20rem; }
    .btn { font-weight: 700; text-transform: uppercase; font-size: 2.7rem; padding-right: 3rem; padding-left: 3rem; margin-bottom: 2rem;
      @include mobile { font-size: 2rem; }
      @include tablet { font-size: 2.7rem; }
    }
  }
}

.blog { font-family: 'Roboto', sans-serif;
  @include mobile { padding-top: 7rem;   }
  @include tablet { padding-top: 5rem; }
  .item { border-top: solid 1px rgba(0,0,0,0.1); padding: 2rem 0;
    &:first-child { border-top: none; }
  }
  h4 { margin-bottom: 0; }
  h2 { margin-bottom:0.5rem; font-weight: 700; }
  .author { margin-bottom: 1rem;
    p { color: rgba(0,0,0,0.3); margin-bottom: 0; font-size: 1.2rem;}
  }
}
// footer
.main-footer { background: url(../img/footer-bg.jpg) no-repeat; -webkit-background-size: cover; background-size: cover; width: 100%; position: relative;
  @include mobile { padding-bottom: 20%; background: url(../img/footer-bg.jpg) no-repeat; }
  @include tablet { padding-bottom: 10%;  height:1%;}
  .footer-infos { position: absolute; width: 100%; top: 6%; color: #fff;
    @include mobile { position: relative; top: 0; padding: 0 1.5rem; }
    @include desktop { position: absolute; top: 6%;}
  }
  .img-man { padding-top: 11.5rem; position: relative; padding-bottom: 3rem;
    @include mobile { padding-top: 7.5rem; }
    @include tablet { padding-top: 11.5rem;}
  }
  h2 { font-size: 4.5rem; font-weight: 700; text-transform: uppercase; margin-bottom: 3rem;
    @include mobile { font-size: 3.5rem;}
    @include tablet { font-size: 4.5rem; }
  }
  .phone { color: #f6be2f; font-size: 3.6rem; position: relative;
    @include mobile { font-size: 3rem;}
    @include tablet { font-size: 3.6rem; }
    .icon-phone { margin-right: 1rem; }
    .fb { position: absolute; top: 2.6rem; right: 0; }
  }
  p { font-size: 2.7rem; line-height: 1.7;}
  .form-control { margin-bottom: 1.5rem; border-radius:0; }
  .btn { font-weight: 700; text-transform: uppercase; font-size: 2.7rem; padding-right: 3rem; padding-left: 3rem; min-width: 20rem; margin-bottom: 1.5rem;
    @include mobile { font-size: 2rem; }
    @include tablet { font-size: 2.7rem; }
  }
  .location { font-size: 2rem; position: relative;
    img { position: absolute; top: 2rem; left: -6rem; }
  }
}

//loading
.load-holder { width: 100%; position: fixed; z-index: 1300; left: 0; top:0;padding:0;margin:0;height:100%;
  &#div-loading { background:#fff;  }
}
.load-block{position:absolute;top:calc(50% - 30px);left:calc(50% - 30px);width:70px;height:70px}
.block-item{position:relative;height:20px;width:20px;display:inline-block;background:$main-color;transition:all .8s;-webkit-animation:rot 5s linear infinite;animation:rot 5s linear infinite}
.block-item:nth-child(1){-webkit-animation-delay:3s;animation-delay:3s}
.block-item:nth-child(2){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 12s linear infinite;animation:rot 15s linear infinite}
.block-item:nth-child(3){-webkit-animation-delay:2s;animation-delay:2s}
.block-item:nth-child(4){-webkit-animation-delay:.2s;animation-delay:.2s}
.block-item:nth-child(5){-webkit-animation-delay:4s;animation-delay:4s}
.block-item:nth-child(6){-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation:rot 7s linear infinite;animation:rot 7s linear infinite}
.block-item:nth-child(7){-webkit-animation-delay:.4s;animation-delay:.4s}
.block-item:nth-child(8){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 6s linear infinite;animation:rot 6s linear infinite}
.block-item:nth-child(9){-webkit-animation-delay:25s;animation-delay:25s;-webkit-animation:rot 8s linear infinite;animation:rot 8s linear infinite}
@-webkit-keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}
@keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}




