@import url('../fonts/SFUITextRegular.css');
@import url('../fonts/VNFGothamBook.css');
@import url('../fonts/SanFranciscoText-RegularG3.css');
@import url('../fonts/SanFranciscoText-Semibold.css');

/***********************************/
/**********GENERAL VARIABLE*********/
/***********************************/

/*Colour*/
$grey-text: #464646;
$grey-nav: #2f2f2f;
$grey-light: #e2e2e2;
$grey-lighter: #7f7f7f;
$grey-dark: #595959;
$grey-footer: #f2f2f2;
$grey: #a5a5a5;
$orange: #ff5c39;

/*Fonts*/
$font-sf: 'SFUITextRegular', sans-serif;
$font-sf3: 'SanFranciscoText-RegularG3', sans-serif;
$font-sfb: 'SanFranciscoText-Semibold', sans-serif;
$font-gotham: 'VNFGothamBook', sans-serif;

@mixin prefix($property, $css) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -ms-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}