@font-face {
  font-family: 'Avaner';
  src: url("../fonts/AvanerRegular.woff2") format("woff2"), url("../fonts/AvanerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page-blog .content-blog {
  padding: 236px 0 115px;
}

@media (max-width: 1199px) {
  .page-blog .content-blog {
    padding: 211px 0 67px;
  }
}

@media (max-width: 767px) {
  .page-blog .content-blog {
    padding: 85px 0 40px;
  }
}

.page-blog .cover {
  position: relative;
  color: #454545;
  margin-bottom: 83px;
}

@media (max-width: 1199px) {
  .page-blog .cover {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .page-blog .cover {
    margin-bottom: 40px;
  }
}

.page-blog .list-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -54px;
}

@media (max-width: 1199px) {
  .page-blog .list-news {
    margin-top: -44px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news {
    margin-top: 39px;
  }
}

.page-blog .list-news__item {
  width: calc(33.333% - 36px);
  color: #454545;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item {
    width: calc(33.333% - 26px);
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item {
    width: 100%;
  }
  .page-blog .list-news__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .page-blog .list-news__item:nth-child(n + 5) {
    margin-top: 86px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-blog .list-news__item:nth-child(n + 5) {
    margin-top: 46px;
  }
}

.page-blog .list-news__item .img {
  border: 20px;
  overflow: hidden;
  margin-bottom: 39px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item .img {
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item .img {
    margin-bottom: 19px;
  }
}

.page-blog .list-news__item .img img {
  border-radius: 20px;
}

@media (max-width: 767px) {
  .page-blog .list-news__item .img img {
    border-radius: 5px;
  }
}

.page-blog .list-news__item .content__ttl {
  margin: 0 0 18px;
  font-size: 24px;
  line-height: 1.2;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item .content__ttl {
    font-size: 21px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item .content__ttl {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.page-blog .list-news__item .content__desc {
  line-height: 1.5;
  color: #82898E;
  font-size: 18px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item .content__desc {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item .content__desc {
    font-size: 10px;
  }
}

.page-blog .list-news__item .content__txt {
  margin-top: 13px;
  font-size: 18px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item .content__txt {
    margin-top: 16px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item .content__txt {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-blog .list-news__item .content .author {
  margin-bottom: 5px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item .content .author {
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item .content .author {
    margin-bottom: 0;
  }
}

.page-blog .list-news__item .content .time {
  color: #82898E;
}

.page-blog .list-news__item--cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  padding-bottom: 45px;
}

@media (max-width: 767px) {
  .page-blog .list-news__item--cover {
    display: block;
    padding-bottom: 0;
  }
}

.page-blog .list-news__item--cover .img {
  width: 66.5%;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item--cover .img {
    width: 65.6887755%;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item--cover .img {
    width: 100%;
  }
}

.page-blog .list-news__item--cover .content {
  width: 33.5%;
  padding-top: 138px;
  padding-right: 45px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item--cover .content {
    padding-top: 76px;
    width: 34.3112245%;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item--cover .content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1199px) {
  .page-blog .list-news__item--cover .content__ttl {
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item--cover .content__ttl {
    margin-bottom: 15px;
  }
}

.page-blog .list-news__item--cover .content__txt {
  margin-top: 41px;
}

@media (max-width: 1199px) {
  .page-blog .list-news__item--cover .content__txt {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .page-blog .list-news__item--cover .content__txt {
    margin-top: 16px;
  }
}

.page-blog .pagination {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #82898E;
  font-size: 18px;
}

@media (max-width: 1199px) {
  .page-blog .pagination {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .page-blog .pagination {
    margin-top: 31px;
  }
}

.page-blog .pagination a {
  text-decoration: none;
  color: #82898E;
}

.page-blog .pagination__arrow {
  position: relative;
}

.page-blog .pagination__arrow:before {
  content: "";
  width: 31px;
  height: 9px;
  background: url(../img/i_arrow.svg) no-repeat center/contain;
  position: absolute;
  top: 7px;
}

@media (max-width: 767px) {
  .page-blog .pagination__arrow:before {
    top: 4px;
  }
}

.page-blog .pagination__arrow--prev {
  padding-left: 43px;
}

@media (max-width: 767px) {
  .page-blog .pagination__arrow--prev {
    padding-left: 46px;
  }
}

.page-blog .pagination__arrow--prev:before {
  left: 0;
}

.page-blog .pagination__arrow--next {
  padding-right: 43px;
}

.page-blog .pagination__arrow--next:before {
  right: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.page-blog .pagination__navi {
  padding: 0 5px;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .page-blog .pagination__navi {
    padding: 0 8px;
  }
}

.page-blog .pagination__navi li {
  padding: 0 7px;
}

@media (max-width: 767px) {
  .page-blog .pagination__navi li {
    padding: 0 6px;
  }
}

@media screen and (min-width: 768px) {
  .page-blog-detail .label-detail {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .label-detail {
    max-width: 320px;
    margin: 0 auto 29px;
  }
}

.page-blog-detail .content-detail {
  padding: 210px 0 51px;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail {
    padding-bottom: 74px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail {
    padding: 87px 0 13px;
  }
}

.page-blog-detail .content-detail__heading {
  margin-bottom: 74px;
  max-width: 798px;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail__heading {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail__heading {
    margin-bottom: 29px;
  }
}

.page-blog-detail .content-detail .ttl {
  font-size: 50px;
  line-height: 1.2;
  color: #454545;
  margin: 0 0 20px;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail .ttl {
    font-size: 30px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail .ttl {
    font-size: 25px;
    margin-bottom: 17px;
  }
}

.page-blog-detail .content-detail .info {
  font-size: 18px;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail .info {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-blog-detail .content-detail .info__name {
  color: #454545;
}

.page-blog-detail .content-detail .info__time {
  margin-top: 4px;
  color: #82898E;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail .info__time {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail .info__time {
    margin: 0;
  }
}

.page-blog-detail .content-detail__inner {
  max-width: 798px;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail__inner {
    max-width: 100%;
  }
}

.page-blog-detail .content-detail__inner p {
  margin: 0 0 1.7rem;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail__inner p {
    font-size: 12px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail__inner p {
    margin-bottom: 1rem;
    font-size: 14px;
  }
}

.page-blog-detail .content-detail__inner img {
  border-radius: 20px;
  margin: 0 0 3.5rem;
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail__inner img {
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail__inner img {
    border-radius: 0;
    margin: 0 -33px 2rem;
    width: 375px;
    max-width: initial;
  }
}

@media (max-width: 1199px) {
  .page-blog-detail .content-detail__inner img.img-half {
    display: block;
    width: 100%;
    max-width: 65.5612245%;
    margin: 0 auto 3.2rem;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .content-detail__inner img.img-half {
    margin: 0 -33px 2rem;
    width: 375px;
    max-width: initial;
  }
}

.page-blog-detail .news-related {
  background-color: #82898E;
  padding: 64px 0 90px;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related {
    padding: 50px 0 46px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related {
    padding: 30px 0 46px;
  }
  .page-blog-detail .news-related .container {
    max-width: 320px;
  }
}

.page-blog-detail .news-related__ttl {
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 35px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .page-blog-detail .news-related__ttl {
    font-size: 20px;
    margin-bottom: 28px;
  }
}

.page-blog-detail .news-related__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .page-blog-detail .news-related__list {
    display: block;
  }
}

.page-blog-detail .news-related .item {
  color: #fff;
  width: calc(33.333% - 36px);
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item {
    width: calc(33.333% - 27px);
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item {
    width: 100%;
  }
  .page-blog-detail .news-related .item:not(:last-child) {
    margin-bottom: 29px;
  }
}

.page-blog-detail .news-related .item__img {
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 20px;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item__img {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item__img {
    border-radius: 5px;
  }
}

.page-blog-detail .news-related .item__img img {
  border-radius: 20px;
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item__img img {
    border-radius: 5px;
  }
}

.page-blog-detail .news-related .item__ttl {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 18px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item__ttl {
    font-size: 21px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item__ttl {
    font-size: 25px;
    margin-bottom: 21px;
  }
}

.page-blog-detail .news-related .item__txt {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item__txt {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item__txt {
    font-size: 10px;
  }
}

.page-blog-detail .news-related .item__info {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item__info {
    font-size: 10px;
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item__info {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 16px;
  }
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item .name {
    color: #454545;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item .name {
    color: #ffffff;
  }
}

.page-blog-detail .news-related .item .time {
  margin-top: 3px;
}

@media (max-width: 1199px) {
  .page-blog-detail .news-related .item .time {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .page-blog-detail .news-related .item .time {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */