html {
  font-size: 62.5%; }
  @media (min-width: 320px) {
    html {
      font-size: 58%; } }
  @media (min-width: 768px) {
    html {
      font-size: 60%; } }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: 'Montserrat';
  color: #4A4A4A;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.525;
  background: #fff;
  font-weight: 100; }
  @media (min-width: 320px) {
    body {
      font-size: 1.7rem; } }
  @media (min-width: 768px) {
    body {
      font-size: 1.8rem; } }
  @media (min-width: 992px) {
    body {
      font-size: 1.4rem; } }

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 1rem; }

.h1, h1 {
  font-size: 38px;
  font-size: 3.8rem; }

.h2, h2 {
  font-size: 30px;
  font-size: 3rem; }

.h3, h3 {
  font-size: 24px;
  font-size: 2.4rem; }

.h4, h4 {
  font-size: 20px;
  font-size: 2rem; }

.h5, h5 {
  font-size: 18px;
  font-size: 1.8rem; }

.h6, h6 {
  font-size: 16px;
  font-size: 1.6rem; }

.blue {
  color: #f27242; }

.white {
  color: #ffffff; }

.mb15 {
  margin-bottom: 15px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

a {
  color: #f27242;
  -webkit-transition: All .3s ease;
  -moz-transition: All .3s ease;
  -o-transition: All .3s ease;
  -ms-transition: All .3s ease; }
  a:hover, a:focus {
    color: #ef4e12;
    outline: 0; }

a.secondary {
  color: #b9b9af;
  text-decoration: underline; }
  a.secondary:hover {
    color: #515252; }

.btn {
  border-radius: 0;
  font-weight: 100;
  padding: 8px 20px; }

.bg-overlay {
  background: rgba(0, 0, 0, 0.3); }

.btn-orange {
  background: #f27242;
  border-color: transparent;
  color: #fff; }
  .btn-orange:hover, .btn-orange:focus {
    background: #ef4e12;
    color: #fff; }

.btn-fb {
  background: #6984b4;
  border-color: transparent;
  color: #fff; }
  .btn-fb:hover, .btn-fb:focus {
    background: #4e6a9c;
    color: #fff; }
  .btn-fb i {
    margin-right: 5px; }

.btn-tw {
  background: #4fccf5;
  border-color: transparent;
  color: #fff; }
  .btn-tw:hover, .btn-tw:focus {
    background: #1fbef2;
    color: #fff; }
  .btn-tw i {
    margin-right: 5px; }

.btn-orange {
  background: #f27242;
  border-color: transparent;
  color: #fff; }
  .btn-orange:hover, .btn-orange:focus {
    background: #ef4e12;
    color: #fff; }

.form-control {
  border: 1px solid #b9b9af;
  box-shadow: none;
  color: #42413e;
  height: 40px;
  border-radius: 2px; }
  .form-control:hover, .form-control:focus {
    border: 1px solid #b9b9af; }

.form-group {
  margin-bottom: 20px; }

.checkbox, .radio {
  margin-bottom: 15px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.text-right {
  text-align: left; }
  @media (min-width: 768px) {
    .text-right {
      text-align: right; } }

.center-all {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.navbar-go {
  background-color: #ffffff;
  border: none;
  min-height: 60px;
  margin-bottom: 0;
  text-align: center; }
  @media (min-width: 320px) {
    .navbar-go {
      min-height: 50px; } }
  @media (min-width: 768px) {
    .navbar-go {
      min-height: 60px; } }
  .navbar-go .navbar-collapse {
    border: none; }
  .navbar-go .navbar-nav {
    margin-top: 1.1rem; }
  .navbar-go .navbar-nav > li.impress > a {
    background: #f27242;
    color: #ffffff; }
  .navbar-go .navbar-right {
    margin-right: 0; }
    @media (min-width: 320px) {
      .navbar-go .navbar-right {
        margin-right: -15px; } }
    @media (min-width: 768px) {
      .navbar-go .navbar-right {
        margin-right: 0; } }

.navbar-go .navbar-brand {
  height: 60px; }

.navbar-go .navbar-nav > li > a {
  color: #4A4A4A;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 8px 15px; }

.navbar-go .navbar-nav > li > a:focus, .navbar-go .navbar-nav > li > a:hover {
  background-color: #ef4e12;
  color: #ffffff; }

.navbar-go .navbar-nav > .active > a, .navbar-go .navbar-nav > .active > a:focus, .navbar-go .navbar-nav > .active > a:hover {
  background-color: #ef4e12;
  color: #ffffff; }

.navbar-go .navbar-nav > .disabled > a, .navbar-go .navbar-nav > .disabled > a:focus, .navbar-go .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent; }

.navbar-go .navbar-toggle {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 15px; }

.navbar-go .navbar-toggle:focus, .navbar-go .navbar-toggle:hover {
  background: none; }

.navbar-go .navbar-toggle .icon-bar {
  background-color: #f27242;
  width: 26px;
  height: 4px; }

.navbar-go .navbar-collapse, .navbar-go .navbar-form {
  border-color: #e7e7e7;
  text-align: left; }

.modal-backdrop {
  background-color: rgba(205, 217, 227, 0.95); }

.modal-content {
  border-radius: 0;
  border: 1px solid #c2cdd6; }

.modal-header {
  border: none; }

@media (min-width: 768px) {
  .modal-login .modal-dialog {
    width: 700px; } }
@media (min-width: 320px) {
  .modal-login .modal-body {
    padding: 20px 20px 15px; } }
@media (min-width: 768px) {
  .modal-login .modal-body {
    padding: 40px 40px 30px; } }
.modal-login .close {
  font-weight: 100;
  color: #f27242;
  opacity: 1;
  font-size: 35px; }
.modal-login h3 {
  font-weight: 100; }
  @media (min-width: 320px) {
    .modal-login h3 {
      margin-top: 10px;
      margin-bottom: 40px; } }
  @media (min-width: 768px) {
    .modal-login h3 {
      margin-top: 40px;
      margin-bottom: 70px; } }
.modal-login .signup {
  margin: 35px 0; }
  @media (min-width: 320px) {
    .modal-login .signup {
      margin: 20px 0; } }
  @media (min-width: 768px) {
    .modal-login .signup {
      margin: 35px 0; } }
.modal-login .btn-fb, .modal-login .btn-tw {
  min-width: 210px; }
  .modal-login .btn-fb i, .modal-login .btn-tw i {
    float: left;
    margin-top: 5px; }
.modal-login .divider {
  border-left: 2px solid #e7e4da;
  border-top: none;
  margin: 0;
  height: 129px;
  width: auto;
  position: absolute;
  right: 49.5%; }
  .modal-login .divider .name {
    position: absolute;
    top: 46px;
    left: -11px;
    background-color: white;
    z-index: 100000; }

.load-holder {
  background: #fff;
  position: fixed;
  z-index: 3001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; }

.load-block {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 70px;
  height: 70px; }

.block-item {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #f27242;
  transition: all .8s;
  -webkit-animation: rot 5s linear infinite;
  animation: rot 5s linear infinite; }

.block-item:nth-child(1) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.block-item:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 12s linear infinite;
  animation: rot 15s linear infinite; }

.block-item:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.block-item:nth-child(4) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.block-item:nth-child(5) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.block-item:nth-child(6) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: rot 7s linear infinite;
  animation: rot 7s linear infinite; }

.block-item:nth-child(7) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.block-item:nth-child(8) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 6s linear infinite;
  animation: rot 6s linear infinite; }

.block-item:nth-child(9) {
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
  -webkit-animation: rot 8s linear infinite;
  animation: rot 8s linear infinite; }

@-webkit-keyframes rot {
  0% {
    transform: none; }
  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }
  40% {
    background: chocolate;
    transform: none; }
  60% {
    background: white; }
  80% {
    background: cornflowerblue; }
  90% {
    transform: none;
    background: #222; } }
@keyframes rot {
  0% {
    transform: none; }
  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }
  40% {
    background: chocolate;
    transform: none; }
  60% {
    background: white; }
  80% {
    background: cornflowerblue; }
  90% {
    transform: none;
    background: #222; } }

/*# sourceMappingURL=style.css.map */
