// noon style
$mobile-width: 320px;
$lmobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$ldesktop-width: 1280px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin lmobile {
  @media (min-width: #{$lmobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ldesktop {
  @media (min-width: #{$ldesktop-width}) {
    @content;
  }
}

$main-color : #f27242;
$black-color : #4A4A4A;
$white-color : #ffffff;



html {  font-size: 62.5%;
  @include mobile { font-size: 58%; }
  @include tablet { font-size: 60%; }
  @include tablet { font-size: 62.5%; }
}
body { font-family: 'Montserrat'; color: $black-color; font-size: 14px; font-size: 1.4rem; line-height: 1.525; background: #f4f7f8; font-weight: 100;
  @include mobile { font-size: 1.7rem; }
  @include tablet { font-size: 1.8rem; }
  @include desktop { font-size: 1.4rem; }
}

.h1, .h2, .h3, h1, h2, h3 { margin-bottom: 1rem }
.h1,h1 { font-size: 38px; font-size: 3.8rem; }
.h2,h2 { font-size: 30px; font-size: 3rem; }
.h3,h3 { font-size: 24px; font-size: 2.4rem; }
.h4,h4 { font-size: 20px; font-size: 2rem; }
.h5,h5 { font-size: 18px; font-size: 1.8rem; }
.h6,h6 { font-size: 16px; font-size: 1.6rem; }
.orange { color: $main-color; }
.white { color: $white-color; }
.gray { color: $black-color; }
.mb15 { margin-bottom: 15px; }
.mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; }

a { color: $main-color; -webkit-transition:All .3s ease;-moz-transition:All .3s ease;-o-transition:All .3s ease;-ms-transition:All .3s ease;
  &:hover, &:focus { color: darken($main-color, 10%); outline: 0;}
}
a.secondary { color: #b9b9af; text-decoration: underline;
  &:hover { color: #515252; }
}
.btn { border-radius: 2px ; font-weight: 100; padding: 8px 20px;}
.btn-sm { padding: 4px 15px; }
.bg-overlay { background: rgba(0,0,0,.3); }
.btn-orange { background: $main-color; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken($main-color,10%); color: #fff;}
}
.btn-grey { background: #b9b9af; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken(#b9b9af,10%); color: #fff;}
}
.btn-fb { background: #6984b4; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken(#6984b4,10%); color: #fff; }
  i { margin-right: 5px; }
}

.btn-tw { background: #4fccf5; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken(#4fccf5,10%); color: #fff; }
  i { margin-right: 5px; }
}

.btn-orange { background: $main-color; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken($main-color,10%); color: #fff; }
}

.btn-white { background: $white-color; border-color: transparent; color: #333;
  &:hover, &:focus { background: $white-color; color: $main-color; }
}

.btn-cart { background: none; border-color: rgba(121,119,107,0.5); color: #79776b;;
  &:hover, &:focus { background: $main-color; border-color: $main-color; color: #fff; }
}

.form-control { border: 1px solid #b9b9af; box-shadow: none; color: #42413e; height: 40px; border-radius: 2px;
  &:hover, &:focus { border: 1px solid #b9b9af; }
}
label { font-weight: 400;
  span { color: $main-color; font-weight: 100; }
}
.form-group { margin-bottom: 20px; }
.checkbox, .radio {margin-bottom: 15px;}
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }
.text-right { text-align: left;
  @include tablet { text-align: right; }
}
.center-all { display: -webkit-flex; display: -ms-flexbox;display: flex;-webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%;
 // height: 100vh;
}

// header
.navbar-go { background-color: $white-color; border-bottom: 1px solid #e8ebe9;  margin-bottom: 0; text-align: center;
  @include mobile { min-height: 50px; }
  @include tablet { min-height: 100px; }

  .navbar-collapse { border: none; }
  .navbar-nav {
    @include tablet { margin-top: 63px; }
  }
  .navbar-right { margin-right:0;
    @include mobile { margin-right:-15px; }
    @include tablet { margin-right: 0; }
  }
  .navbar-nav > li > a.btn-cart { padding-top:0; position: relative;
    .btn-cart__numb { position: absolute; top: 8px; left: 19px; color: $main-color; min-width: 24px;}
  }
  .navbar-brand{
    @include mobile { padding-top:0; padding-bottom:0;
      img { width: 70px }
    }
    @include tablet { position: absolute; width: 100%; left: 0; top: 0; text-align: center; margin: auto; padding-top:15px; padding-bottom:15px;
      img { display: inline-block; width: 152px }
    }
  }
  ul { margin:0; padding:0;}
  .dropdown-menu { border-radius: 0; border-top:0; width: 100%; min-width: 200px; border-color: #e8ebe9;
    a { padding: 13px 15px; border-top: solid 1px #f5f5f5; border-left: solid 4px #fff; font-weight: 100;
      &:hover { color: $main-color; border-left-color: #f5f5f5;}
      span { font-weight: 100; }
    }
    >.active>a { background: #f5f5f5; color: #333; border-left-color: #42413e; }
  }
}

// .navbar-go .navbar-brand:focus,.navbar-go .navbar-brand:hover{color:#5e5e5e;background-color:transparent}
// .navbar-go .navbar-text{color: $black-color; }
.navbar-go .navbar-nav>li>a{color: $black-color; font-size: 1.3rem; padding: 8px 15px;
}
.navbar-go .navbar-nav>li:first-child>a{
  @include tablet { padding-left:0; }
}
.navbar-go .navbar-nav>li>a:focus,.navbar-go .navbar-nav>li>a:hover{ background: none; color: $main-color; }
// .navbar-go .navbar-nav>.active>a,.navbar-go .navbar-nav>.active>a:focus,.navbar-go .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}
.navbar-go .navbar-nav>.active>a,.navbar-go .navbar-nav>.active>a:focus,.navbar-go .navbar-nav>.active>a:hover{ background: none; color: $main-color; }
.navbar-go .navbar-nav>.disabled>a,.navbar-go .navbar-nav>.disabled>a:focus,.navbar-go .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}
.navbar-go .navbar-toggle{border: none; margin-top:0; margin-bottom:0; margin-right: 0; padding: 15px;}
.navbar-go .navbar-toggle:focus,.navbar-go .navbar-toggle:hover{ background: none; }
.navbar-go .navbar-toggle .icon-bar{background-color: $main-color; width: 26px; height: 4px; }
.navbar-go .navbar-collapse,.navbar-go .navbar-form{border-color:#e7e7e7; text-align: left; }
// .navbar-go .navbar-nav>.open>a,.navbar-go .navbar-nav>.open>a:focus,.navbar-go .navbar-nav>.open>a:hover{background-color:#f0f1f1}

.sub-nav-holder { height: 70px; }
.sub-nav { background: #fff; border-bottom: 1px solid #e8ebe9; z-index: 5; position: relative;
  &.affix { width: 100%; top: 0; left: 0; position: fixed;
    .sub-nav__cart { opacity: 1; }
  }
  ul { margin:0; padding:0;}
  li { border-left: solid 1px #f5f5f5;
    &:first-child { border-left: none; }
  }
  a { color: #333; }
  .sub-nav__main { padding:10px 40px; display: block; height: 70px; line-height: 48px; font-size: 1.5rem; font-weight: 400;
    &:hover { background: #f0f0f0; text-transform: none; }
  }
  .sub-nav__addr { line-height: 22px; padding: 10px 20px;}
  .sub-nav__addr__pin { margin-top: 15px; }
  .dropdown-menu { border-radius: 0; border-top:0; width: 100%;
    a { padding: 13px 15px; border-top: solid 1px #f5f5f5; border-left: solid 4px #fff;
      &:hover { color: $main-color; border-left-color: #f5f5f5;}
      span { font-weight: 100; }
    }
    >.active>a { background: #f5f5f5; color: #333; border-left-color: #42413e; }
  }
  .sub-nav__cart { padding-top: 21px; padding-bottom: 21px; opacity:0; position: relative;
    .btn-cart__numb { position: absolute; top: 29px; left: 19px; color: $main-color; min-width: 24px;}
  }
}

//modal login
.modal-backdrop { background-color: rgba(205,217,227,0.95); }
.modal-content { border-radius: 0; border: 1px solid #c2cdd6;  }
.modal-header { border: none; }
.modal-login {
  .modal-dialog {
    @include tablet { width: 700px; }
  }
  .modal-body {
    @include mobile { padding: 20px 20px 15px; }
    @include tablet { padding: 40px 40px 30px; }
  }
  .close { font-weight: 100; color: $main-color; opacity: 1; font-size: 35px;}
  h3 { font-weight: 100;
    @include mobile { margin-top: 10px; margin-bottom: 40px; }
    @include tablet { margin-top: 40px; margin-bottom: 70px; }
  }
  .signup { margin: 35px 0;
    @include mobile { margin: 20px 0;  }
    @include tablet { margin: 35px 0;  }
  }
  .btn-fb, .btn-tw { min-width: 210px;
    i { float: left; margin-top:5px; }
  }
  .divider { border-left: 2px solid #e7e4da;border-top: none;margin: 0;height: 129px;width: auto;position: absolute; right: 49.5%;
    .name { position: absolute; top: 46px; left: -11px; background-color: white; z-index: 100000; }
  }
}

//sign up
.sign-up { background-image: url(../img/signup-background.jpg); background-repeat: no-repeat; background-size: cover; background-color: white; width: 100%;
  &.term { background: #f4f7f8; }
  .sign-up__view { background-color: white; background-color: rgba(255,255,255,0.95); padding-top: 50px; padding-bottom: 60px; margin-top: 40px; margin-bottom: 150px;
    @include mobile { padding-top: 20px; padding-bottom: 30px; margin-top: 30px; margin-bottom: 50px; }
    @include tablet { padding-top: 50px; padding-bottom: 60px; margin-top: 40px; margin-bottom: 150px;  }
  }
  .sign-up__view__message {
    @include mobile { padding-right: 0; padding-top: 20px; }
    @include tablet { padding-right: 40px; padding-top: 0; }
    h3 { font-weight: 100; line-height: 1.4; margin-top:0; }
    h4 { font-weight: 100; line-height: 1.4; margin-top: 20px; }
    ul { padding-left:20px; margin-top: 15px; margin-bottom: 20px;}
  }
  .sign-up__form {
    @include mobile { padding-left: 0; padding-right: 0; }
    @include tablet { padding-left: 50px; padding-right: 50px; }
    .form-control { margin-top: 20px; }
    .btn-fb { min-width: 265px;
      i { float: left; margin-top:3px; }
    }
    .divider { text-align: center; display: block; margin-top: 10px; margin-bottom: 0; width: 100%; position: relative; z-index: 1;
      &:before {  background-color: #b9b9af; content: " "; display: block; height: 1px; width: 43%; position: absolute; top: 50%; left: 0; z-index: -1; }
      &:after { background-color: #b9b9af; content: " "; display: block; height: 1px; width: 43%; position: absolute; top: 50%; right: 0; z-index: -1; }
    }
    .sign-up__form__invite-code { margin-top: 10px; }
    .sign-up__form__tos { color: #b9b9af; }
    .btn-orange { min-width: 265px; }
  }
}

.acc--header { padding: 30px 0;
  h3 { font-weight: 100; line-height: 1.4; margin-top:0; }
  .acc--header__links { margin-top: 10px;
    a { padding-left: 10px; }
  }
}

.acc--profile {
  .acc--profile__photo { position: relative; text-decoration: none;
    &:hover {
      .acc--profile__photo__text { opacity: 1; }
    }
  }
  .acc--profile__photo__text { background: $main-color; color: #fff; z-index: 1; padding: 7px 5px;  position: relative; top: -35px; opacity: 0 ; display: block;}

  .acc--profile__contact { padding: 0 0 20px;}
  .acc--profile__contact__name{
      &:after { display: block; width: 50px; height: 1px; background-color: #42413e; content: " "; margin-top: 16px; margin-left: 0px; }
  }
  .acc--profile__social { padding-bottom: 30px;
    h4 { line-height: 1.3; }
  }
}

.acc--settings { margin-bottom: 30px;
  .acc--settings__links { background: #fff;
    @include mobile { padding: 10px 0px 20px 0px; }
    @include tablet { padding: 10px 30px 20px 30px; }
    h4 { margin-top: 30px; }
    li { margin-top: 4px; }
  }
  .acc--settings__links__mobile { position: relative;
    span { background: $main-color; color: #fff; z-index: 1; padding: 7px 5px;  position: absolute; bottom: 0px; width: 100%;}
  }
  .acc--settings__referral { background: url(../img/referrals-page.jpg) no-repeat; background-color: rgba(255,255,255,0.9); background-size: cover; background-position: 50% 50%; padding: 40px 0 30px ;  margin-bottom: 30px;
    h1, h2 { line-height: 1.3; font-weight: 100; }
    .btn { margin-bottom: 10px; }
  }
  .acc--settings__add-book { background: #fff;
    @include mobile { padding: 20px 0 20px 20px; }
    @include tablet { padding: 30px 0 30px 40px; }
  }
  .acc--settings__add-book__body__item__num { width: 25px; }
  .acc--settings__add-book__body__item {
    .btn { margin-left: 20px; margin: 10px 0 10px 20px ; }
  }
  .acc--settings__add-book__header {
    .btn {
      @include mobile { margin-right: 10px;  }
      @include tablet { margin-right: 30px;   }
    }
  }
  .acc--settings__bg { background: #fff;
    @include mobile { padding: 10px }
    @include tablet { padding: 50px }
  }
  .acc--settings__review__header {
    .btn {
      @include mobile { margin-right: 10px;  }
      @include tablet { margin-right: 30px;   }
    }
  }
  .acc--settings__review__body {
    .media {
      &:hover {
        .media-right { opacity: 1; }
      }
      h4 { margin-top: 0; margin-bottom: 5px; }
    }
    .media-right {
      @include mobile { display: block; opacity: 1; padding-left: 0px;}
      @include lmobile { display: table-cell; opacity: 0; padding-left: 10px;}
      .btn {  margin-bottom: 10px; }
    }
  }
}

.hero { background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(../img/hero.jpg);
  &.hero--end { background-image: url(../img/key-lime-pie.jpg); margin-bottom: 30px;
    @include mobile { height: 290px; }
    @include tablet { height: 420px; }
  }
  @include mobile { height: 375px; }
  @include tablet { height: 620px; }
  &.hero--landing { background-image: url(../img/flex-hero.jpg);
    @include mobile { height: 480px; }
    @include tablet { height: 620px; }
    .hero__panel__text { margin-bottom:10px; }
    .hero__panel__form { margin-bottom: 10px;
      .form-control { margin-bottom: 10px; }
    }
  }
  .hero__panel { background: #fff;  padding: 20px; position: relative;
    @include mobile { margin-top: 20px; margin-bottom: 40px; }
    @include tablet { margin-top: 80px; margin-bottom: 131px; }
    &:before { border: 1px solid #b9b9af; border-color: rgba(185,185,175,0.2); background-color: transparent; content: ""; display: block; height: auto; width: auto; position: absolute;
      @include mobile { top: 10px; right: 10px; bottom: 10px; left: 10px; }
      @include tablet { top: 20px; right: 20px; bottom: 20px; left: 20px; }
    }
    h1 { font-weight: 100;  font-size: 2.4rem; text-transform: uppercase; line-height: 52px;
      @include mobile { margin-top: 10px;}
      @include tablet { margin-top: 50px; }
      strong { font-weight: 400; display: block; font-size: 3.6rem;}
      &:after { display: block; margin-top: 18px; height: 3px; background-color: #515252; content: " "; margin-left: auto; margin-right: auto; width: 50px; }
    }
    p {   line-height: 1.6;
      @include mobile { width: auto; margin: 10px auto 20px;}
      @include tablet { width: 320px; margin: 19px auto 58px;}
    }
  }
  .how-area-menu {
    @include mobile { margin-top: 20px; margin-bottom: 40px; }
    @include tablet { margin-top: 80px; margin-bottom: 131px; }
  }
}

.page-title { padding: 40px 0;
  @include mobile { padding: 20px 0; }
  @include tablet { padding: 40px 0; }
  h1 { font-weight: 100; margin: 0; padding:0; font-size: 2.6rem; }
}

.how-item { background: #fff; margin-bottom: 10px;
  .how-item__info { padding: 65px;
    @include mobile { padding: 25px 15px 15px 15px; }
    @include tablet { padding: 40px 65px 20px 65px; }
    @include ldesktop { padding: 65px; }
  }
  .how-item__img { padding-right: 0; padding-left: 0;}
  h1 { font-weight: 100; margin: 0 0 30px; padding:0; font-size: 2.8rem; text-transform: uppercase;
    @include mobile { margin: 0 0 10px; }
    @include tablet { margin: 0 0 30px; }
  }
  p { line-height: 1.8; }
}

.how-area-menu { background: #fff; padding: 60px 0; margin-bottom: 10px;
  @include mobile { padding: 20px 0; }
  @include tablet { padding: 60px 0; }
  h1 { font-weight: 100; margin: 0 0 30px; padding:0; font-size: 2.8rem;
    @include mobile { margin: 0 0 10px; }
    @include tablet { margin: 0 0 30px; }
  }
  .form-control { margin-bottom: 10px; }
}

.landing--features { padding-top: 4.06rem; padding-bottom: 7.5rem; background: #fff;
  h1 { text-transform: uppercase; line-height: 1.35; font-weight: 400; margin-bottom: 30px;
    small { color: #333; font-weight: 100; }
  }
  .landing--features__item { margin-top: 20px;
    h4 { font-weight: 100; margin-top: 20px; }
  }
}

.landing--cheft { background-color: #ECECEC; padding-top: 2rem;
  h1 { text-transform: uppercase; margin-top: 7rem; font-weight: 100;
    @include mobile { margin-top: 2rem; }
    @include tablet { margin-top: 7rem; }
  }
}

.landing--beyond { background-color: #fff; padding: 5rem 0 4rem;;
  h1 { text-transform: uppercase;  font-weight: 100;}
  .landing--beyond__item { margin-top: 5rem;
    p { line-height: 1.8;
      strong { margin-bottom: 5px; display: block; }
    }
  }
  .landing--beyond__impress { margin-bottom: 3rem; font-size: 3rem; font-weight: 400;
    img { margin-right: 10px; }
  }
  .landing--beyond__impress__stat { display: inline-block; width: 70px; line-height: 1.25; font-size: 1.6rem; font-weight: 100; margin-left: 1.5rem;}
}

.landing--ready { padding-top: 8rem;
  .landing--ready__fly {  z-index: 1;
    @include mobile { position: relative; top: 0; right: 0; }
    @include desktop { position: absolute; top: 30px; right: -50px; }
  }
  .landing--ready__fly__overlay { background: #fff; padding: 40px; }
  h1 { text-transform: uppercase;  font-weight: 100; margin-top: 0; margin-bottom: 20px;}
  p { line-height: 1.7; }
}

.landing--claim { padding: 40px 0 60px;
  h1 { font-weight: 100;  font-size: 2.4rem; text-transform: uppercase; line-height: 52px;
    strong { font-weight: 400; display: block; font-size: 3.6rem;}
    &:after { display: block; margin-top: 18px; height: 3px; background-color: #515252; content: " "; margin-left: auto; margin-right: auto; width: 50px; }
  }
  .form-control { margin-bottom: 10px; }
}
// .home.affix { padding-top: 100px; position: relative; }
.menu__title {  margin:0; text-transform: uppercase; color: rgba(81,82,82,0.7);
  @include mobile { padding: 2rem 0; }
  @include desktop { padding: 2.5rem 0; }
}
.menu__item {
  @include mobile { margin-bottom: 2rem; }
  @include desktop { margin-bottom: 10rem; }
  .menu__item__main-img { border: 1px solid rgba(121,119,107,0.1); }
  hr { margin: 5px 0 15px; }
  .menu__item__details {
    h4 { margin:0 0 5px; }
    h5 { margin:0 0 5px;
      small { color: #333; }
    }
    p {
      small { color: #b9b9af; }
    }
  }
  .menu__item__actions {
    .btn { font-weight: 400;
      .fa { font-size: 14px;
        &.fa-plus { padding-right:5px; }
      }
    }
    .menu__item__actions__price { font-size: 1.8rem; }
    .menu__item__actions__status { text-transform: uppercase; font-size: 1.2rem; position: absolute; bottom: 5px; left: 50px; right: 50px; }
  }
  .menu__item__order { background-color: rgba(254,213,90,0.9); position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 1; color: #fff;
    .menu__item__order__number { font-weight: 400; font-size: 8rem; margin-top: 5rem;
      @include mobile { margin-top: 2rem; }
      @include tablet { margin-top: 5rem; }
      @include desktop { margin-top: 2rem; }
      @include ldesktop { margin-top: 4rem; }
    }
    p { font-weight: 100; }
  }
  .menu__item__photo { position: relative; }

  &.menu__item--big {
    .menu__item__details {
      @include mobile { margin-top: 15px; }
      @include desktop { height: 300px; margin-top: 0; overflow: auto; }
      @include ldesktop { height: 385px }
    }
    .menu__item__order { top: auto; bottom:0; height: auto; padding: 1.5rem 0; font-size: 1.5rem; text-transform: uppercase; }
  }
}

.detail__header { padding: 55px 0;
  @include mobile { padding: 15px 0; }
  @include tablet { padding: 55px 0; }
  .detail__header__menu { text-transform: uppercase; font-weight: 400; color: #333;
    img { margin-right: 10px; }
  }
  .btn-cart { position: relative; margin-top: -5px;
    &:hover { background: none; }
    .btn-cart__numb { position: absolute; top: 7px; left: 5px; color: $main-color; min-width: 24px;
    }
  }
}
.detail__product__photo { position: relative;
  .detail__product__photo__order {position: absolute; left: 0; bottom:0; width: 100%; padding: 1.5rem 0; font-size: 1.5rem; text-transform: uppercase; background-color: rgba(254,213,90,0.9); color: #fff; ;}
}
.detail__product__chef { background: #fff; padding: 30px; margin-top: 0; margin-bottom: 15px;}
.detail__product__main-info { margin-bottom: 30px;
  h2 { margin-top: 0; text-transform: uppercase; }
  .fa-star { color: rgba(254, 213, 90, 1) }
  .detail__product__main-info__star { color: #b9b9af; }
  p.h6 { font-weight: 100; margin-top: 0; }
  .btn { margin-bottom: 10px; font-size: 1.6rem; }
}
.detail__product__more-info {
  .nav {
    li { padding: 0;
      &.active {
        a { background-color: #f9f9f9; border-bottom: 3px solid #fed55a; border-top: 1px solid #e8ebe9;border-right: 1px solid #e8ebe9;}
      }
      &:first-child {
        a { border-left: 1px solid #e8ebe9; }
      }
    }
    a { background: #fff; border-top: 1px solid #e8ebe9;border-bottom: 3px solid #fff;border-right: 1px solid #e8ebe9; color: #79776b; border-radius: 0; margin:0; padding: 14px 0; display: block;
      &:hover, &:focus { background: #fff; border-top: 1px solid #e8ebe9;border-bottom: 3px solid #fff;border-right: 1px solid #e8ebe9; }
    }
  }
  .tab-pane { background: #fff;  border: 1px solid #e8ebe9;
    @include mobile { padding: 10px; }
    @include tablet { padding: 30px; }
  }
  .top-three { margin-bottom: 20px;
    li { border-left: 1px solid #e8ebe9;  padding: 0 5px}
  }
}

.detail__review { border-bottom: 1px solid #79776b; border-top: 1px solid #79776b; min-height: 130px; margin: 30px 0; padding: 30px 0;
  p { color: #79776b; margin-bottom: 16px; }
  h4 { margin-bottom: 30px; text-transform: uppercase;}
  .detail__review__item { margin-bottom: 40px; }
}

.checkout {
  @include mobile { padding: 15px 0 20px; }
  @include tablet { padding: 40px 0 50px; }
  .checkout__bg { background: #fff; border: 1px solid #e8ebe9; }
  .checkout__main { margin-bottom: 15px;
    .checkout__bg {
      @include mobile { padding: 10px; }
      @include tablet { padding: 50px; }
    }
    h1 { margin-top:0; margin-bottom: 20px; border-bottom: solid 1px #e8ebe9; font-weight: 100; padding-bottom: 20px; }
    .nav-tabs { margin-bottom: 30px; border-bottom: 1px solid #e8ebe9;
      li { padding: 0; margin-bottom: 0;
        a { border-top: 1px solid #e8ebe9; border-bottom: 3px solid #fff; border-right: 1px solid #e8ebe9; border-radius: 0; margin: 0; color: #79776b; padding: 15px; font-size: 13px;
          &:hover { border-bottom-color: #eee }
        }
        &.active a { background-color: #f9f9f9; border-bottom: 3px solid #fed55a; }
      }
    }
    .checkout__main__item__link { line-height: 40px; }
  }
  .checkout__main__item { margin-bottom: 10px;
    img { display: inline-block; margin-right: 5px; }
    h4 { margin-top: 0; margin-bottom: 3px; font-weight: 400;}
    p { color: #79776b }
    select.form-control { border-radius: 0;-webkit-appearance: none; -moz-appearance: none; -moz-border-radius: 0px; -ms-border-radius: 0px; background-color: white; border: 1px solid #b9b9af; background-image: url(../img/SelectArrows.svg); background-repeat: no-repeat; background-position: center right; height: 40px; margin-bottom: 10px;}
  }
  .checkout__main__step { margin-bottom: 40px;}
  .checkout__main__addr { margin-bottom: 40px;
    img { margin-bottom: 15px; }
    .checkout__main__addr__main { height: 70px; width: 100%; background-image: url(../img/SelectArrows.svg); background-position: 95% center; background-repeat: no-repeat; border: 1px solid #b9b9af; color: #333;
      small { color: lighten(#333, 20%); }
    }
    ul { margin:0; padding:0;}
    .dropdown-menu { border-radius: 0; border-top:0; width: 100%; min-width: 200px; border-color: #b9b9af;
      a { padding: 13px 15px; border-top: solid 1px #f5f5f5; border-left: solid 4px #fff; font-weight: 100;
        &:hover { color: $main-color; border-left-color: #f5f5f5;}
        span { font-weight: 100; }
      }
      >.active>a { background: #f5f5f5; color: #333; border-left-color: #42413e; }
    }
  }
  .checkout__info {
    .checkout__bg {
      @include mobile { padding: 10px; }
      @include tablet { padding: 30px; }
    }
    .table {
      td { border-top: none; padding: 3px 0; }
    }
    hr { border-color: #333; }
    .form-control { margin-bottom: 5px; }
  }
}


// footer
.footer { background-color: white; padding: 1.2rem 0 3.2rem;
  &.footer--settings {  background: none; }
  h4 { text-transform: uppercase; margin-bottom: 2rem; font-weight: 400;}
  .footer__about { margin-top: 2rem;
    li { margin-top: 1rem; }
    a { color: #79776b;
      &:hover { color: $main-color; }
    }
  }
  .footer__help { margin-top: 2rem;
    @include tablet { border-left: 1px solid #e8ebe9; border-right: 1px solid #e8ebe9; }
    .footer__help__link { margin-bottom: 1.5rem;
      a { color: #79776b; margin: 0 2rem;  }
    }
    .footer__help__social { margin-top: 2rem;
      li { display: inline-block; margin-left: 0.1rem; }
      a { display: inline-block; width: 41px; height: 41px; background-image: url(../img/social_sprites.svg); background-repeat: no-repeat; }
      a.facebook { background-position: 0px 0px; }
      a.twitter { background-position: 0px -115px; }
      a.pinterest { background-position: 0px -230px; }
      a.instagram { background-position: 0px -345px; }
    }
  }
  .footer__download { margin-top: 2rem;
    @include tablet { padding-left: 40px; }
    .btn-download { background-color: #ecf0f1; color: #79776b;
      &:hover { color: #515252;  background-color: #cfd9db; }
    }
  }
  .footer__links { font-size: 1.3rem;
    a { color: #b9b9af; margin: 0 10px 5px 10px; display: inline-block; }
  }
}


.load-holder { background: #fff; position: fixed; z-index: 3001; left: 0; top:0; width: 100%; height: 100vh;  }
.load-block{position:absolute;top:calc(50% - 30px);left:calc(50% - 30px);width:70px;height:70px; }
.block-item{position:relative;height:20px;width:20px;display:inline-block;background:$main-color;transition:all .8s;-webkit-animation:rot 5s linear infinite;animation:rot 5s linear infinite}
.block-item:nth-child(1){-webkit-animation-delay:3s;animation-delay:3s}
.block-item:nth-child(2){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 12s linear infinite;animation:rot 15s linear infinite}
.block-item:nth-child(3){-webkit-animation-delay:2s;animation-delay:2s}
.block-item:nth-child(4){-webkit-animation-delay:.2s;animation-delay:.2s}
.block-item:nth-child(5){-webkit-animation-delay:4s;animation-delay:4s}
.block-item:nth-child(6){-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation:rot 7s linear infinite;animation:rot 7s linear infinite}
.block-item:nth-child(7){-webkit-animation-delay:.4s;animation-delay:.4s}
.block-item:nth-child(8){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 6s linear infinite;animation:rot 6s linear infinite}
.block-item:nth-child(9){-webkit-animation-delay:25s;animation-delay:25s;-webkit-animation:rot 8s linear infinite;animation:rot 8s linear infinite}
@-webkit-keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}
@keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white; }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}




