/* --------------------
   -------------------- Loading -------------------- */
.b-loading_spinner_bounce,
.b-intro_slider_spinner_bounce { color: #00bcd4; }


/* -----------------------
   ----------------------- Global ----------------------- */

.e-btn_solid { color: #fff; background: #00bcd4; border-color: #00bcd4; }
.e-btn_solid:hover { color: #fff; background: #0383d7; border-color: #0383d7; }

.e-btn_outline { color: #00bcd4; background: transparent; border-color: #00bcd4; }
.e-btn_outline:hover { color: #0383d7; background: transparent; border-color: #0383d7; }


/* --------------------
   -------------------- Header -------------------- */

.b-header_logo a:hover,
.b-header_nav_toggle:hover { color: #00bcd4; }

.b-header_nav a.active { color: #fff; background: #00bcd4; }


/* --------------------
   -------------------- Sections -------------------- */

.b-section_header h2 { color: #00bcd4; }


/* --------------------
   -------------------- Typographic -------------------- */

.b-wysiwyg h3,
.b-wysiwyg h4,
.b-wysiwyg h5,
.b-wysiwyg h6,

.b-wysiwyg a,

.b-wysiwyg li:before { color: #00bcd4; }

.b-wysiwyg ul > li:before { background: #00bcd4; }


/* --------------------
   -------------------- Blocks / elements -------------------- */

.e-arrow:hover { color: #00bcd4 !important; }

.b-figure:before,
.b-figure:after { background: #00bcd4; }


/* --------------------
   -------------------- Structures -------------------- */

.b-carousel .owl-nav > div:hover { color: #00bcd4; }


/* --------------------
   -------------------- About -------------------- */

.b-about { border-bottom-color: #00bcd4; }

.b-about_photo,
.b-about_top_nav a { color: #00bcd4; }

.b-about_summary { background-color: #00bcd4; }


/* --------------------
   -------------------- Speakers -------------------- */

.b-speaker_social,
.b-speaker_social_icon:hover:before { color: #00bcd4; }


/* --------------------
   -------------------- Schedule -------------------- */
.b-schedule_day_header { background-color: #00bcd4; }
.b-schedule_day_header h3 { color: #fff; }

.b-schedule_time_label { color: #00bcd4; }

.b-schedule_time_info_short p:last-child:after { color: #00bcd4; }

.b-schedule_time_info_details:before,
.b-schedule_time_info_details:after { background: #00bcd4; }

/* --------------------
   -------------------- FAQ -------------------- */

.b-faq_questions a:hover { color: #00bcd4; background: #f1f1f1; }
.b-faq_questions a.current { color: #fff; background: #00bcd4; }

@media (min-width: 768px) {

    .b-faq_questions:before { background: #00bcd4; }

    .b-faq_questions a:before,
    .b-faq_questions a:after { background: #00bcd4; }

}

.b-faq_questions_more span { color: #00bcd4; }
.b-faq_questions_more span:hover { color: inherit; }


/* --------------------
   -------------------- Pricing -------------------- */

.b-pricing_plan_sum { color: #00bcd4; }
.b-pricing_plan_caption { color: #fff; background-color: #00bcd4; }


/* --------------------
   -------------------- Contacts -------------------- */

.b-contacts_map_marker { color: #00bcd4; -webkit-box-shadow: 0 0 0 12px rgba(27, 157, 245, .5); -moz-box-shadow: 0 0 0 12px rgba(27, 157, 245, .5); box-shadow: 0 0 0 12px rgba(27, 157, 245, .5); }

.b-contacts_info { color: #fff; background-color: #00bcd4; -webkit-box-shadow: 0 0 0 3px rgba(27, 157, 245, .5); -moz-box-shadow: 0 0 0 3px rgba(27, 157, 245, .5); box-shadow: 0 0 0 3px rgba(27, 157, 245, .5); }
.b-contacts_info a:hover { color: #0f67ab !important; }


/* --------------------
   -------------------- PopUps -------------------- */

.b-leaflet_close:hover { color: #00bcd4; }

.b-leaflet_box_header h2,
.b-leaflet_box_header p { color: #00bcd4; }


/* --------------------
   -------------------- Forms -------------------- */

.b-form .checker,
.b-form .radio,

.b-form_box_title,
.b-form_message_balloon__success { color: #00bcd4; }

.b-form_box_field input:focus,
.b-form_box_field textarea:focus,
.b-form_box_field .selector.focus { border-color: #00bcd4; }

/* --------------------
   -------------------- Animations: glow pulse -------------------- */

@-webkit-keyframes glowPulse {
    0% {
        -webkit-transform: scale(.75, .75);
        -webkit-box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }

    50% {
        -webkit-transform: scale(1, 1);
        -webkit-box-shadow: 0 0 0 12px rgba(27, 157, 245, .5);
    }

    100% {
        -webkit-transform: scale(.75, .75);
        -webkit-box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }
}

@-moz-keyframes glowPulse {
    0% {
        -moz-transform: scale(.75, .75);
        -moz-box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }

    50% {
        -moz-transform: scale(1, 1);
        -moz-box-shadow: 0 0 0 12px rgba(27, 157, 245, .5);
    }

    100% {
        -moz-transform: scale(.75, .75);
        -moz-box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }
}

@keyframes glowPulse {
    0% {
        transform: scale(.75, .75);
        box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }

    50% {
        transform: scale(1, 1);
        box-shadow: 0 0 0 12px rgba(27, 157, 245, .5);
    }

    100% {
        transform: scale(.75, .75);
        box-shadow: 0 0 0 0 rgba(27, 157, 245, .5);
    }
}