/* --------------------
   -------------------- Reset -------------------- */
input, textarea, select { -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.b-form input::-ms-clear,
.b-form textarea::-ms-clear { visibility: hidden; }

/* --------------------
   -------------------- Forms layout -------------------- */
.b-form { position: relative; }


/* * * * * *
 * * * * * * Form boxes * * * * * *
                        * * * * * */
.b-form_box,
.b-form_box_field,

.b-form input,
.b-form select,
.b-form textarea { position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.b-form_box,
.b-form_box_field { display: block; }

.b-form_box { margin-bottom: 2em; }


/* * * * * *
 * * * * * * Form footer * * * * * *
                         * * * * * */
.b-form_bottom { margin-top: 2em; white-space: nowrap; }
.b-form_bottom > a,
.b-form_bottom > button { display: inline-block; margin-right: 7px; }

.b-form_bottom__right { text-align: right; }
.b-form_bottom__right > a,
.b-form_bottom__right > button { display: inline-block; margin-left: 7px; margin-right: 0; }

.b-form_bottom__center { text-align: center; }
.b-form_bottom__center > a,
.b-form_bottom__center > button { display: inline-block; margin: 0 7px; }


/* -------------------- Forms elements -------------------- */

/* * * * * *
 * * * * * * Labels * * * * * *
                    * * * * * */
.b-form_box_title { display: block; margin-bottom: .5em; font: 400 1.14285714285714em 'Roboto Slab', serif; }
.b-form_box_title.required:after { content: '\00A0\002A'; }

@media (min-width: 640px) {

    .b-form_box__nowrap { display: table; width: 100%; border-spacing: 0; }

    .b-form_box__nowrap .b-form_box_field,
    .b-form_box__nowrap .b-form_box_title { display: table-cell; vertical-align: top; }

    .b-form_box__nowrap .b-form_box_title { padding: 10px 10px 0 0; width: 25%; min-width: 140px; }

}


/* * * * * *
 * * * * * * Field sets * * * * * *
                        * * * * * */
.b-form_set { margin: 12px 0 24px; }
.b-form_set_legend { display: block; margin: 12px 0 24px; font: 700 1.14285714285714em 'Raleway', sans-serif; color: #020202; }


/* * * * * *
 * * * * * * Links in forms * * * * * *
                            * * * * * */
.b-form_box a { text-decoration: none; }
.b-form_box a:hover { text-decoration: underline; color: inherit; }


/* --------------------
   -------------------- Forms fields -------------------- */

/* * * * * *
 * * * * * * Fields * * * * * *
                    * * * * * */
.b-form_box_field input[type="text"],
.b-form_box_field input[type="password"],
.b-form_box_field textarea,
.b-form_box_field select,

.b-form_box_field .e-select { position: relative; padding: 0 15px; width: 100%; height: 44px; font: 400 1.14285714285714em 'Raleway', sans-serif; text-overflow: ellipsis; text-shadow: none; color: #3c3c3c; background: #fff; border: 1px solid #cdcdcd; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.b-form_box_field textarea { padding: 10px 15px; max-width: 100%; height: 100px; }

.b-form_box_field .e-select { padding: 0 15px; }
.b-form_box_field .e-select span { display: block; overflow: hidden; padding-right: 50px; width: 100%; line-height: 44px; white-space: nowrap; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.b-form_box_field .e-select:before { position: absolute; top: 50%; right: 10px; margin-top: -1px; width: 0; height: 0; border-top: 5px solid #cacaca; border-left: 5px solid transparent; border-right: 5px solid transparent; content: ''; }


/* * * * * *
 * * * * * * Radio/checkboxes * * * * * *
                              * * * * * */
.b-form_box_field label { display: inline-block; position: relative; margin: 8px 20px 0 0; }
.b-form_box_field label > input,
.b-form_box_field label > div { vertical-align: middle; margin: 0 12px 0 0; top: -1px; }

.b-form_box_field.list label { display: block; }

.b-form_box_field label .checked + span { font-weight: 700; }


/* --------------------
   -------------------- Transitions -------------------- */

/* * * * * *
 * * * * * * Fields * * * * * *
                    * * * * * */
.b-form_box_field input,
.b-form_box_field textarea,
.b-form_box_field select,

.b-form_box_field .e-select { -webkit-transition: color 400ms, background 400ms, border 400ms, -webkit-box-shadow 400ms; -moz-transition: color 400ms, background 400ms, border 400ms, -moz-box-shadow 400ms; -o-transition: color 400ms, background 400ms, border 400ms, box-shadow 400ms; transition: color 400ms, background 400ms, border 400ms, box-shadow 400ms; }


/* --------------------
   -------------------- Forms states -------------------- */

/* * * * * *
 * * * * * * Fields disabled * * * * * *
                             * * * * * */
.b-form_box_field input[disabled],
.b-form_box_field textarea[disabled],
.b-form_box_field select[disabled],
.b-form_box_field .e-select.disabled { color: #999; background: #f5f5f5; border-color: #d5d5d5; cursor: not-allowed; }


/* * * * * *
 * * * * * * Elements focus * * * * * *
                            * * * * * */
.b-form_box_field input:focus,
.b-form_box_field textarea:focus,

.b-form_box_field .selector.focus { border-color: #1b9ef5; }


/* * * * * *
 * * * * * * Elements error * * * * * *
                            * * * * * */
.b-form_box_field.m-error input,
.b-form_box_field.m-error textarea,

.b-form_box_field.m-error .selector { border-color: #f1645f; }


/* * * * * *
 * * * * * * Placeholders * * * * * *
                          * * * * * */
.b-form_box_field input[placeholder],
.b-form_box_field textarea[placeholder] { text-overflow: ellipsis; }

.b-form_box_field input::-webkit-input-placeholder,
.b-form_box_field textarea::-webkit-input-placeholder { font-style: normal; color: #ccc; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field input:-moz-placeholder,
.b-form_box_field textarea:-moz-placeholder { font-style: normal; color: #ccc; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field input:-ms-input-placeholder,
.b-form_box_field textarea:-ms-input-placeholder { font-style: normal; color: #ccc; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field select,
.b-form_box_field .e-select { color: #ccc; }


/* * * * * *
 * * * * * * Placeholders on error * * * * * *
                                   * * * * * */
.b-form_box_field.m-error input::-webkit-input-placeholder,
.b-form_box_field.m-error textarea::-webkit-input-placeholder { color: #ea9999; }

.b-form_box_field.m-error input:-moz-placeholder,
.b-form_box_field.m-error textarea:-moz-placeholder { color: #ea9999; }

.b-form_box_field.m-error input:-ms-input-placeholder,
.b-form_box_field.m-error textarea:-ms-input-placeholder { color: #ea9999; }

.b-form_box_field.m-error select,
.b-form_box_field.m-error .e-select { color: #ea9999; }


/* * * * * *
 * * * * * * Placeholders on focus * * * * * *
                                   * * * * * */
.b-form_box_field input:focus:-moz-placeholder,
.b-form_box_field textarea:focus:-moz-placeholder { color: transparent; }

.b-form_box_field input:focus::-webkit-input-placeholder,
.b-form_box_field textarea:focus::-webkit-input-placeholder { color: transparent; }

.b-form_box_field input:focus:-ms-input-placeholder,
.b-form_box_field textarea:focus:-ms-input-placeholder { color: transparent; }

.b-form_box_field select:focus,
.b-form_box_field .e-select.focus { color: #3c3c3c; }


/* * * * * *
 * * * * * * Text area height * * * * * *
                             * * * * * *//*
.b-form_box_field textarea { min-height: 42px; -webkit-transition: min-height 400ms; -moz-transition: min-height 400ms; -o-transition: min-height 400ms; transition: min-height 400ms; resize: none; }
.b-form_box_field textarea:focus { min-height: 126px; }*/

/* --------------------
   -------------------- Notifications -------------------- */

/* * * * * *
 * * * * * * Notices * * * * * *
                     * * * * * */
.b-form_notice,
.b-form_box_notice { margin-top: 6px; font: italic 11px 'Raleway', sans-serif; }

.b-form_box_field_error { margin: 8px 0 0; font: normal 13px 'Raleway', sans-serif; color: #ff4d46; }

@media (min-width: 768px) {

    .b-form_box_field_error { position: absolute; z-index: 5; left: 100%; top: 50%; margin: -15px 0 0 15px; padding: 8px 5px; text-align: center; white-space: nowrap; color: #fff; background: #ff4d46; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 0; -webkit-transform: translate3d(20px, 0, 0); -moz-transform: translate3d(20px, 0, 0); -o-transform: translate3d(20px, 0, 0); transform: translate3d(20px, 0, 0); -webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease; }
    .b-form_box_field_error:before { position: absolute; right: 100%; top: 50%; margin-top: -6px; width: 0; height: 0; border-right: 6px solid #ff4d46; border-top: 6px solid transparent; border-bottom: 6px solid transparent; content: ''; }

    .m-error .b-form_box_field_error { opacity: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

}

/* * * * * *
 * * * * * * Form notifications * * * * * *
                                * * * * * */
.b-form_message { padding-bottom: 24px; overflow: hidden; visibility: hidden; opacity: 0; -webkit-transition: visibility 600ms, opacity 600ms, overflow 600ms; -moz-transition: visibility 600ms, opacity 600ms, overflow 600ms; -o-transition: visibility 600ms, opacity 600ms, overflow 600ms; transition: visibility 600ms, opacity 600ms, overflow 600ms; }
.b-form_message__show { visibility: visible; opacity: 1; overflow: visible; }

.b-form_message + form { visibility: visible; opacity: 1; -webkit-transition: visibility 600ms, opacity 600ms; -moz-transition: visibility 600ms, opacity 600ms; -o-transition: visibility 600ms, opacity 600ms; transition: visibility 600ms, opacity 600ms; }
.b-form_message + form.b-form__hide { visibility: hidden; opacity: 0; }

.b-form_message_balloon { position: relative; padding: 24px; font: 300 16px/1.5 'Roboto Slab', sans-serif; text-align: center; background: #f5f5f5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.b-form_message_balloon * { margin-top: 0 !important; }

.b-form_message_balloon h3 { margin-bottom: .5em; font: 300 24px/1.1 'Roboto Slab', serif; }

.b-form_message_balloon__success { color: #1b9ef5;  }
.b-form_message_balloon__error { color: #ff4d46; }