@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_bold_italic-webfont.eot');
    src: url('../fonts/proxima_nova_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold_italic-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold_italic-webfont.svg#proxima_novabold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_bold-webfont.eot');
    src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_regular_italic-webfont.eot');
    src: url('../fonts/proxima_nova_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular_italic-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular_italic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_semibold_italic-webfont.eot');
    src: url('../fonts/proxima_nova_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_semibold_italic-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_semibold_italic-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold_italic-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: 100;
    font-style: normal;

}