/* noon style*/
$mobile-width: 320px;
$lmobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$ldesktop-width: 1280px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin lmobile {
  @media (min-width: #{$lmobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ldesktop {
  @media (min-width: #{$ldesktop-width}) {
    @content;
  }
}

a {  -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;
  &:hover, &:focus { outline: 0;}
}
p { font-size: 16px; font-weight: 100;  }
strong, a { font-weight: 600; }
.btn-orange { background: #F58323; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken(#F58323,10%); color: #fff; }
}
.btn-trans{ background: none; border-color: #fff; color: #fff;
  &:hover, &:focus { background: #fff; color: #233881; }
}
.landing__bg { background: url(../img/landing/bg.jpg) no-repeat; background-size: cover; width: 100%; background-position: center;}
.landing { min-height: 2000px; }

/* landing intro */
.landing__intro { color: #fff;
  @include mobile { padding: 15px 0 10px; }
  @include tablet { padding: 100px 0 50px; }
  img { margin-bottom: 15px; }
  h1 { font-weight: 600; margin-top: 0;  line-height: 1.35;
    @include mobile { font-size: 22px; margin-bottom: 15px;}
    @include tablet { font-size: 30px; margin-bottom: 30px;}
  }
  p { margin-bottom: 15px; }
  .btn { margin-bottom: 15px; padding: 10px 15px; }
  .landing__intro__sign { color: #D0D3DB;
    a { color: #D0D3DB; }
  }
}

/* landing testimonials */
.landing__testimonials { background: #fff; color: #606780; padding: 30px 0;
  h1 { font-weight: 600; border-bottom: solid 1px #606780; display: inline-block; }
  h2 {
    @include mobile { font-size: 20px; }
    @include tablet { font-size: 24px; }
  }
  img {
    @include mobile { margin: 15px auto; }
    @include tablet { margin: 30px auto; }
  }
  .carousel-control { background: none;
    &.left {
      .fa { left: 0;}
    }
    &.right {
      .fa { right: 0;}
    }
    .fa { top: 50%; position: absolute; background: #D8D8D8; width: 50px; height: 50px; line-height: 50px;  border-radius: 50%; margin-top: -25px; text-shadow: none;  }
  }
}

.landing__how { color: #fff;
  @include mobile { padding: 15px; }
  @include tablet { padding: 50px; }
  .fa { width: 120px; height: 120px; line-height: 110px; border-radius: 50%; border: solid 4px #fff; font-size: 50px;
    @include mobile { margin: 15px auto; }
    @include desktop { margin: 40px auto; }
  }
  .landing__how__item { margin-bottom: 15px; }
  h2 { line-height: 1.2;
    @include mobile { min-height: 15px;  }
    @include desktop { min-height: 75px;  }
  }
  p { color: #D0D3DB; }
}

.landing__mentors {
  @include mobile { padding: 15px; }
  @include tablet { padding: 40px; }
  h1 { color: #606780; margin-bottom: 40px; margin-top: 0;}
  .landing__mentors__item { border: solid 1px #C8CAD4; border-radius: 5px; margin-bottom: 15px;
    img.img-responsive { border-radius: 5px 5px 0 0; width: 100%; }
    h2 { color: #233881; font-weight: 700; }
    .fa-circle { font-size: 20px; color: #18B6FB; margin-top: 22px;}
  }
}

.landing__footer { color: #D0D3DB;
  @include mobile { padding-top: 20px; }
  @include tablet { padding-top: 40px; }
  a { font-weight: 100; color: #D0D3DB; font-size: 16px;}
  .fa { color: #fff; font-size: 30px;}
  .landing__footer__copy { background: #243881; padding: 15px 0; font-weight: 100;}
  li {
    @include mobile { margin-bottom: 5px;  }
    @include tablet { margin-bottom: 20px;  }
  }
  .landing__footer__item {
    @include mobile { margin-bottom: 10px; }
    @include tablet { margin-bottom: 40px; }
  }
}

