nav{ border-bottom:1px solid #e0e1e7 !important; background-color:#fff;}
nav .container-fluid{padding:10px;}
#header-bottom{width:100%; margin-top:80px; padding:20px 0px;}
.navbar-taktopia .navbar-nav li a{ text-transform:uppercase;}
.navbar-taktopia .navbar-nav li a:hover, .navbar-taktopia .navbar-nav li a:active, .navbar-taktopia .navbar-nav li.active a{
	background-color:#fff;
	color:#233881 !important;
	font-weight:bold;
}
.navbar-taktopia .navbar-nav li a:visited{background-color:#fff;}
.navbar-taktopia .divider-vertical { border-left:1px solid #eee; height:30px; margin-top:10px;}
.search .input-group input{
	border-right:0px;
}
.search .input-group-addon{
	background-color:#fff;
	border-left:0px;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.list-taktopia-group a{
	margin-top:20px;
	margin-left:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.list-taktopia-group a.selected:after {
	content: "\2022";
	position:absolute;
	right:10px;
	top:-20px;
	font-size:50px !important;
	color:#f00;
}

.list-taktopia-group a:hover:after {
	content: "\2022";
	position:absolute;
	right:10px;
	top:-20px;
	font-size:50px !important;
	color:#f00;
}
/* Topic */
.topic-content{ max-width:960px; margin:0px auto; position:relative;}
.topic-grid { margin:10px; position:relative; cursor:pointer; display:flex;}
.topic-grid h4{ font-weight:bold;}
.topic-grid .img-caption{ position:absolute; color:#fff; font-weight:bold; margin:0px auto; top:0px; left:0px; bottom:0px; right:0px; text-align:center; vertical-align:middle; display:table-cell;}
.topic-grid:hover {
	background:rgba(0,0,0,.75);
	opacity:0.5;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.topic-grid.topic-square-lg .img-caption{ top:35%;}
.topic-grid.topic-square-sm .img-caption{ top:30%;}
.topic-grid.topic-h-rectangle-lg .img-caption{top:30%; max-width:110px;}
.topic-grid.topic-v-rectangle-lg .img-caption{ top:35%;}
@media only screen and (min-width: 1210px) {
	.topic-grid { float:left; }
	.topic-grid.topic-square-lg{
		width:460px;
		height:460px;
	}
	.topic-grid.topic-square-sm{
		width:220px;
		height:220px;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:460px;
		height:220px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:220px;
		height:460px;
		float:right;
	}
}
@media only screen and (min-width: 1050px) and (max-width: 1209px) {
	.topic-content{ max-width:760px;}
	.topic-grid { float:left; }
	.topic-grid.topic-square-lg{
		width:360px;
		height:360px;
	}
	.topic-grid.topic-square-sm{
		width:170px;
		height:170px;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:360px;
		height:170px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:170px;
		height:360px;
		float:right;
	}
}
@media only screen and (min-width: 825px) and (max-width: 1049px) {
	.topic-content{ max-width:680px;}
	.topic-grid { float:left; }
	.topic-grid.topic-square-lg{
		width:320px;
		height:320px;
	}
	.topic-grid.topic-square-sm{
		width:150px;
		height:150px;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:320px;
		height:150px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:150px;
		height:320px;
		float:right;
	}
}
/*
@media only screen and (min-width: 780px) and (max-width: 824px) {
	.topic-content{ max-width:720px;}
	.topic-grid { float:left; }
	.topic-grid.topic-square-lg{
		width:320px;
		height:320px;
	}
	.topic-grid.topic-square-sm{
		width:150px;
		height:150px;
		position:absolute;
		right:0px;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:320px;
		height:220px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:150px;
		height:320px;
		float:right;
	}
	.topic-grid.topic-square-sm.topic-bottom{
		top:170px;
	}
}
@media only screen and (min-width: 820px) and (max-width: 1309px) {
	.topic-content{ max-width:720px;}
	.topic-grid { float:left; margin:5px; }
	.topic-grid.topic-square-lg{
		width:230px;
		height:230px;
	}
	.topic-grid.topic-square-sm{
		width:110px;
		height:110px;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:230px;
		height:110px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:110px;
		height:230px;
		float:right;
	}
	.topic-grid.topic-square-lg .img-caption{ top:30%;}
	.topic-grid.topic-square-sm .img-caption{ top:15%;}
	.topic-grid.topic-h-rectangle-lg .img-caption{top:30%;}
	.topic-grid.topic-v-rectangle-lg .img-caption{ top:15%;}
}*/
@media only screen and (min-width: 580px) and (max-width: 824px)  {
	.topic-content{max-width:480px;}
	.topic-grid.topic-square-lg{
		width:460px;
		height:460px;
	}
	.topic-grid.topic-square-sm{
		width:220px;
		height:220px;
		float:left;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:460px;
		height:220px;
		margin-top:20px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:220px;
		height:460px;
		float:right;
		margin-bottom:20px;
	}
	.topic-grid.topic-square-sm.topic-bottom{
		position:absolute;
		bottom:230px;
		left:0px;
	}
}

@media only screen and  (max-width: 579px) {
	.topic-content{ max-width:240px;}
	.topic-grid {  margin:5px; }
	.topic-grid.topic-square-lg{
		width:230px;
		height:230px;
	}
	.topic-grid.topic-square-sm{
		width:110px;
		height:110px;
		float:left;
	}
	.topic-grid.topic-v-rectangle-lg{
		width:230px;
		height:110px;
		margin-top:10px;
	}
	.topic-grid.topic-h-rectangle-lg{
		width:110px;
		height:230px;
		float:right;
		margin-bottom:10px;
	}
	.topic-grid.topic-square-sm.topic-bottom{
		position:absolute;
		bottom:115px;
		left:0px;
	}
	.topic-grid.topic-square-lg .img-caption{ top:30%;}
	.topic-grid.topic-square-sm .img-caption{ top:15%;}
	.topic-grid.topic-h-rectangle-lg .img-caption{top:30%;}
	.topic-grid.topic-v-rectangle-lg .img-caption{ top:15%;}
}

/*Mentor*/
.mentor-grid{position:relative; cursor:pointer; width:380px; height: 470px; display:flex; margin:10px; padding:0px; border:1px solid #c8cad4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	float:left;
}
.mentor-caption{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background:#fff;
	padding:20px 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height:190px;
	display:table-cell;
	text-align:left;
	vertical-align:bottom;

	-moz-box-shadow:    inset 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 10px #fff;
   box-shadow:         inset 0 0 10px #fff;
}
.mentor-caption ul,.mentor-caption ul li{list-style:none; text-overflow:ellipsis !important;color:#888da0; margin-top:10px;}
.mentor-caption ul li img{margin-right:10px;}
.mentor-caption .mentor-name{font-size:24px; font-weight:bold; color:#233881;}
.mentor-caption .mentor-name img{ margin-bottom:5px;}
.mentor-grid:hover {
	background:rgba(0,0,0,.75);
	opacity:0.5;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mentor-name-symbol{
	margin-right:10px;
	margin-left:5px;
	display:inline-block;
	width:12px;
	height:12px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
 }
/*Group*/
.group-caption{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	color:#fff;
	background:rgba(0,0,0,.75);
	padding:20px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.group-caption h4{font-size:24px; font-weight:bold;}
.group-caption .group-statistic{ text-transform: uppercase;}
.group-label{ position:absolute; padding:5px 20px; text-transform:uppercase; color:#fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;}
.group-label-hot,.group-label-new{ top: 10px; left: 10px; border: 2px solid #fff;}
.group-grid:hover {
	background:rgba(0,0,0,.75);
	opacity:0.5;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.group-grid{ margin:10px; position:relative; cursor:pointer; display:flex;}
.group-right{float:right; }
.group-left{float:left; }
@media only screen and (min-width: 1250px) {
	.group-content{width:960px;}
	.group-grid{ width:460px; height:220px;}
	.group-feature{height:460px;}
}
@media only screen and (min-width: 850px) and (max-width: 1249px)  {
	.group-content{width:760px;}
	.group-grid{ width:360px; height:170px;}
	.group-feature{height:360px;}
}
@media only screen and (max-width: 849px) {
	.group-grid{ width:100%; height:auto; margin: 10px 0;}
	.group-feature{width:100%; }
	.group-right { float: left; }
}
@media only screen and (max-width: 480px) {
	.group-grid{ height: 320px; }
}

/* Question & Answer */
.question-list{
	border:1px solid #f4f5f7;
	background-color:#fff;
	padding:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:20px;
}
.question-list .question-header{
	font-size:18px;
	font-weight:bold;
	margin-bottom:30px;
	color:#2b3f85;
}
.question-list .question-body{
	margin:20px 0px;
}
.list-taktopia-member{
	margin-top:10px;
	background: none !important;
}
.list-taktopia-member a{
	border:0px;
	background: none !important;
}
.list-group-image,.list-group-answer{
	position:relative;
	display:inline;
}
.list-group-image-answer{
	margin:0px auto;
	display:block;
}
.list-group-image-answer img{
	width:50px;
	height:50px;
}
.list-group-image-answer .taktopia-status{
	width:20px;
	height:20px;
	bottom:0px;
	right:10px;
}
/* Activity */
#activity-content{
	border-left:2px solid #ccc;
	margin:0px 10%;
}
.activity-list{
	position:relative;
	margin:30px -15px;
}
.activity-body{
	margin:30px;
}
.activity-header-right{
	position:absolute;
	top:5px; right:5px;
}
