/* noon style*/
a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease; }
  a:hover, a:focus {
    outline: 0; }

p {
  font-size: 16px;
  font-weight: 100; }

strong, a {
  font-weight: 600; }

.btn-orange {
  background: #F58323;
  border-color: transparent;
  color: #fff; }
  .btn-orange:hover, .btn-orange:focus {
    background: #db6a0a;
    color: #fff; }

.btn-trans {
  background: none;
  border-color: #fff;
  color: #fff; }
  .btn-trans:hover, .btn-trans:focus {
    background: #fff;
    color: #233881; }

.navbar.navbar--white {
  background: none;
  border-bottom: none !important;
  padding-top: 10px; }
  .navbar.navbar--white.affix {
    background: #fff;
    border-bottom: 1px solid #e0e1e7 !important;
    padding-top: 0px; }
    .navbar.navbar--white.affix li a {
      color: #7A8095; }
      .navbar.navbar--white.affix li a:hover, .navbar.navbar--white.affix li a:visited {
        background: #fff;
        color: #233881 !important;
        font-weight: 600; }
      .navbar.navbar--white.affix li a img {
        -webkit-filter: contrast(0);
        filter: contrast(0); }
    .navbar.navbar--white.affix .navbar-brand-orgin {
      display: none; }
    .navbar.navbar--white.affix .navbar-brand-affix {
      display: block; }
  .navbar.navbar--white li a {
    color: #fff; }
    .navbar.navbar--white li a:hover, .navbar.navbar--white li a:visited {
      background: none;
      color: #fff !important;
      font-weight: 600; }
    .navbar.navbar--white li a img {
      -webkit-filter: contrast(100);
      filter: contrast(100); }
  .navbar.navbar--white .navbar-brand-affix {
    display: none; }
  .navbar.navbar--white .icon-bar {
    background: #fff; }

.profile__header {
  background: url(../img/profile/mentorHeader.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  padding: 110px 0 45px;
  color: #fff; }
  @media (min-width: 320px) {
    .profile__header {
      padding: 80px 0 20px; } }
  @media (min-width: 768px) {
    .profile__header {
      padding: 110px 0 45px; } }
  .profile__header img {
    border: solid 2px #fff; }
  .profile__header h1 {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px; }
  .profile__header .btn {
    border-radius: 20px;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 14px; }
  .profile__header .profile__header__info {
    margin-top: 45px; }
    .profile__header .profile__header__info li {
      border-left: solid 1px #fff; }
      .profile__header .profile__header__info li:first-child {
        border-left: none; }
      .profile__header .profile__header__info li strong {
        font-size: 24px; }
      @media (min-width: 320px) {
        .profile__header .profile__header__info li {
          font-size: 11px;
          padding: 0 10px; } }
      @media (min-width: 480px) {
        .profile__header .profile__header__info li {
          font-size: 14px;
          padding: 0 15px; } }

.profile__info {
  padding: 50px 0 20px; }
  @media (min-width: 320px) {
    .profile__info {
      padding: 20px 0 0 0; } }
  @media (min-width: 768px) {
    .profile__info {
      padding: 50px 0 20px; } }
  .profile__info .profile__info__item {
    font-size: 20px;
    color: #A2A7B7;
    border-top: solid 1px #F2F3F5;
    padding: 12px 0; }
    .profile__info .profile__info__item:first-child {
      border-top: none; }
    .profile__info .profile__info__item i {
      min-width: 40px; }
    .profile__info .profile__info__item .profile__info__item__name {
      padding-left: 0; }
    .profile__info .profile__info__item .profile__info__item__main {
      color: #7A8095; }

.panel--tak {
  border-color: #C8CAD4; }
  .panel--tak > .panel-heading {
    background-color: #F9FAFB;
    border-color: #C8CAD4;
    padding: 16px 12px; }
  .panel--tak .panel-body {
    padding: 0 20px; }

.profile__ask h2 {
  margin: 0 0 25px; }
  @media (min-width: 320px) {
    .profile__ask h2 {
      margin: 0 0 15px; } }
  @media (min-width: 768px) {
    .profile__ask h2 {
      margin: 0 0 25px; } }
.profile__ask .panel-body {
  color: #606780; }
  @media (min-width: 320px) {
    .profile__ask .panel-body {
      padding: 10px 15px; } }
  @media (min-width: 768px) {
    .profile__ask .panel-body {
      padding: 25px 30px; } }
  .profile__ask .panel-body h4 {
    color: #2B3F85;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.3; }
    @media (min-width: 320px) {
      .profile__ask .panel-body h4 {
        margin-bottom: 10px;
        font-size: 18px; } }
    @media (min-width: 768px) {
      .profile__ask .panel-body h4 {
        margin-bottom: 20px;
        font-size: 24px; } }
  .profile__ask .panel-body p {
    font-weight: 400; }
    @media (min-width: 320px) {
      .profile__ask .panel-body p {
        margin-bottom: 10px;
        font-size: 15px; } }
    @media (min-width: 768px) {
      .profile__ask .panel-body p {
        margin-bottom: 20px;
        font-size: 18px; } }
    .profile__ask .panel-body p a {
      color: #2B3F85;
      font-weight: 400; }
.profile__ask .profile__ask__author {
  font-size: 16px;
  color: #A2A7B7; }
  .profile__ask .profile__ask__author strong {
    color: #7A8095; }
  .profile__ask .profile__ask__author img {
    margin-right: 5px; }

/*# sourceMappingURL=profile.css.map */
