// noon style
$mobile-width: 320px;
$lmobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$ldesktop-width: 1280px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin lmobile {
  @media (min-width: #{$lmobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ldesktop {
  @media (min-width: #{$ldesktop-width}) {
    @content;
  }
}

$main-color : #669AD4;
$black-color : #4A4A4A;
$white-color : #ffffff;

// .color-white { color: #fff; }


// .bg-gray { background: #4f4f4f }
// .bg-orange { background: #f0871c }
// .bg-white { background: #f5f5f5 }
// .bg-black { background: #000 }


.btn--blue { background: $main-color; border-color: $main-color; color: $white-color;
  &:hover { background: darken($main-color, 10%); color: $white-color; }
}


html {  font-size: 62.5%;
  @include mobile { font-size: 58%; }
  @include tablet { font-size: 60%; }
  @include tablet { font-size: 62.5%; }
}
body { font-family: 'Montserrat'; color: $black-color; font-size: 14px; font-size: 1.4rem; line-height: 1.525; background: #fff; font-weight: 100;
  @include mobile { font-size: 1.7rem; }
  @include tablet { font-size: 1.8rem; }
  @include desktop { font-size: 1.4rem; }
}

.h1, .h2, .h3, h1, h2, h3 { margin-bottom: 1rem }
.h1,h1 { font-size: 38px; font-size: 3.8rem; }
.h2,h2 { font-size: 30px; font-size: 3rem; }
.h3,h3 { font-size: 24px; font-size: 2.4rem; }
.h4,h4 { font-size: 20px; font-size: 2rem; }
.h5,h5 { font-size: 18px; font-size: 1.8rem; }
.h6,h6 { font-size: 16px; font-size: 1.6rem; }
.blue { color: $main-color; }
.white { color: $white-color; }
.mb15 { margin-bottom: 15px; }
.mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; }

a { color: $main-color; -webkit-transition:All .3s ease;-moz-transition:All .3s ease;-o-transition:All .3s ease;-ms-transition:All .3s ease;
  &:hover, &:focus { color: darken($main-color, 10%); outline: 0;}
}
.btn { border-radius:0; }
.btn-lg { padding: 10px 25px; }
.bg-overlay { background: rgba(0,0,0,.3); }
.btn-orange { background: $main-color; border-color: transparent; color: #fff;
  &:hover, &:focus { background: darken($main-color,10%); color: #fff;}
}
.form-control { border: 1px solid #bfd8d8; box-shadow: none; color: #4e5b64; height: 50px;
  &:hover, &:focus { border: 1px solid #4FBBBC; }
}
.form-group { margin-bottom: 20px; }
.checkbox, .radio {margin-bottom: 15px;}
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }
.text-right { text-align: left;
  @include tablet { text-align: right; }
}
.center-all { display: -webkit-flex; display: -ms-flexbox;display: flex;-webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%;
 // height: 100vh;
}

// header
.navbar-go { background-color: $white-color; border: none; min-height: 60px; margin-bottom: 0; text-align: center;
  @include mobile { min-height: 50px; }
  @include tablet { min-height: 60px; }
  // @include ldesktop { min-height: 67px; }

  .navbar-collapse { border: none; }
  .navbar-nav { margin-top: 1.1rem; }
  .navbar-nav > li.impress > a { background: $main-color; color: $white-color; }
}
.navbar-go .navbar-brand{  height: 60px;
}
// .navbar-go .navbar-brand:focus,.navbar-go .navbar-brand:hover{color:#5e5e5e;background-color:transparent}
// .navbar-go .navbar-text{color: $black-color; }
.navbar-go .navbar-nav>li>a{color: $black-color; font-size: 1.2rem; text-transform: uppercase; padding: 8px 15px;
}
.navbar-go .navbar-nav>li>a:focus,.navbar-go .navbar-nav>li>a:hover{ background-color: darken($main-color, 10%); color: $white-color; }
// .navbar-go .navbar-nav>.active>a,.navbar-go .navbar-nav>.active>a:focus,.navbar-go .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}
.navbar-go .navbar-nav>.active>a,.navbar-go .navbar-nav>.active>a:focus,.navbar-go .navbar-nav>.active>a:hover{ background-color: darken($main-color, 10%); color: $white-color; }
.navbar-go .navbar-nav>.disabled>a,.navbar-go .navbar-nav>.disabled>a:focus,.navbar-go .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}
.navbar-go .navbar-toggle{border: none; margin-top:0; margin-bottom:0; margin-right: 0; padding: 15px;}
.navbar-go .navbar-toggle:focus,.navbar-go .navbar-toggle:hover{ background: none; }
.navbar-go .navbar-toggle .icon-bar{background-color: $main-color; width: 26px; height: 4px; }
.navbar-go .navbar-collapse,.navbar-go .navbar-form{border-color:#e7e7e7; text-align: left; }
// .navbar-go .navbar-nav>.open>a,.navbar-go .navbar-nav>.open>a:focus,.navbar-go .navbar-nav>.open>a:hover{background-color:#f0f1f1}


.intro { padding-top: 6rem;
  .intro__img { background: url(../img/backgroundBig.png) no-repeat; background-size: cover; background-position: center center; height: 100vh; width: 100%; position: relative;
    @include mobile { height: 50rem }
    @include tablet { height: 100vh }

    .center-all { height: 100vh;
      @include mobile { height: 40rem }
      @include tablet { height: 100vh }
    }
    .intro__img__logo--big { margin-bottom: 2rem; }
    .intro__img__download { margin-bottom: 1rem; }
    .intro__img__hand { position: absolute; bottom:0;
      @include desktop { width: 30% }
      @include ldesktop { width: auto }
      &.intro__img__hand--left { left:0; }
      &.intro__img__hand--right { right:0; }
    }
    .intro__img__scroll { position: absolute; bottom: 10rem; left: 50%; margin-left: -11px;
      @include mobile { bottom: 7rem; }
      @include tablet { bottom: 10rem; }
    }
    .intro__img__logo { position: absolute; bottom: 0; left: 50%; margin-left: -50px; margin-bottom: -50px; }
  }
  .intro__text { margin-top: 8rem;
    h1 { font-size: 2rem; line-height: 1.4;}
    p { font-weight: 100; }
  }
  .intro__video { margin: 12rem 0; position: relative;
    @include mobile { margin: 4rem 0; }
    @include tablet { margin: 12rem 0; }
    .text-center { position: absolute; left: 0; bottom: 4rem; color: $white-color; width: 100%; z-index: 2; }
  }
}

.features {
  .features__header { background: url(../img/imageFeature.png) no-repeat; background-size: cover; background-position: center center; height: 35rem; width: 100%; position: relative; color: $white-color;
    @include mobile { height: 20rem; }
    @include tablet { height: 35rem; }
    h2 { font-weight: 100;  }
  }
  .features__item { padding: 6rem 0;
    @include mobile { padding: 4rem 0; }
    @include tablet { padding: 6rem 0; }
    &:nth-child(odd) { background: #F9F9F9; }
    h3 { font-weight: 100; }
    &.center-all {
      @include mobile { display: block; }
      @include tablet { display: -webkit-flex; display: -ms-flexbox;display: flex; }
    }
  }
}


.quote { background: #fff url(../img/imageTestimonial.png) no-repeat; background-size: cover; background-position: center center; width: 100%; padding: 6rem 0;
  .quote__item { padding: 3rem 0;
    @include mobile { padding: 1rem 0;  }
    @include tablet { padding: 3rem 0;  }
  }
  .media-right { padding-left: 3rem; }
  .media-left { padding-right: 3rem; }
  .media-heading, h5 { font-weight: 100; }
  .media-body {
    @include mobile { width: auto; }
    @include tablet { width: 10000px; }
  }
  .media-body, .media-left, .media-right {
    @include mobile { display: block; }
    @include tablet { display: table-cell; }
  }
  img { margin-bottom: 1rem; }
}

.about { background: url(../img/imageAboutUs.jpg) no-repeat; background-size: cover; background-position: center bottom; width: 100%; padding: 10rem 0 13rem;
  h2 { font-weight: 100; }
  h3 { font-weight: 400; line-height: 1.3; }
  hr { border-color: #d8d8d8; }
}

.faq { padding: 10rem 0;
  @include mobile { padding: 6rem 0 4rem; }
  @include tablet { padding: 10rem 0; }
  h2 { font-weight: 100; }
  .panel-group { margin-top: 10rem;
    @include mobile { margin-top: 5rem;  }
    @include tablet { margin-top: 10rem;  }
  }
  .panel-bf { border: solid 1px #C5C5C5; border-radius: 0; margin-bottom: 2rem;
    .panel-bf__plus { font-size: 3.8rem; font-weight: 100; line-height: 1.4rem; }
    .panel-heading { border-radius: 0; padding: 2rem; }
    .panel-title { line-height: 1.3; }
    .panel-body { padding: 2rem; }
  }
}

.contact { background: url(../img/imageContactUs.png) no-repeat; background-size: cover; background-position: center bottom; width: 100%;
  @include mobile { padding: 6rem 0 4rem; }
  @include tablet { padding: 10rem 0; }
  h2 { font-weight: 100; margin-bottom: 6rem;
    @include mobile { margin-bottom: 3rem;  }
    @include tablet { margin-bottom: 6rem;  }
  }
  .btn--blue { font-weight: 100; padding: 1.7rem 2rem; margin: 2.5rem 0 2rem 0; white-space: normal; }
}

.disclaimer { background: #EEF0F1; padding: 7rem 0;
  @include mobile { padding: 4rem 0 5rem; }
  @include tablet { padding: 7rem 0; }
  h2 { font-weight: 100; margin-bottom: 5rem;
    @include mobile { margin-bottom: 3rem;  }
    @include tablet { margin-bottom: 5rem;  }
  }
}

.footer { background: #1a3858; color: $white-color; padding: 2rem 0;
  img { margin-top: 1rem; margin-bottom: 1.5rem;}
  p { margin:0; }
}

.load-block{position:absolute;top:calc(50% - 30px);left:calc(50% - 30px);width:70px;height:70px}
.block-item{position:relative;height:20px;width:20px;display:inline-block;background:$main-color;transition:all .8s;-webkit-animation:rot 5s linear infinite;animation:rot 5s linear infinite}
.block-item:nth-child(1){-webkit-animation-delay:3s;animation-delay:3s}
.block-item:nth-child(2){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 12s linear infinite;animation:rot 15s linear infinite}
.block-item:nth-child(3){-webkit-animation-delay:2s;animation-delay:2s}
.block-item:nth-child(4){-webkit-animation-delay:.2s;animation-delay:.2s}
.block-item:nth-child(5){-webkit-animation-delay:4s;animation-delay:4s}
.block-item:nth-child(6){-webkit-animation-delay:2s;animation-delay:2s;-webkit-animation:rot 7s linear infinite;animation:rot 7s linear infinite}
.block-item:nth-child(7){-webkit-animation-delay:.4s;animation-delay:.4s}
.block-item:nth-child(8){-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-animation:rot 6s linear infinite;animation:rot 6s linear infinite}
.block-item:nth-child(9){-webkit-animation-delay:25s;animation-delay:25s;-webkit-animation:rot 8s linear infinite;animation:rot 8s linear infinite}
@-webkit-keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}
@keyframes rot {
  0% { transform:none; }
  20% { transform:rotateZ(-90deg) rotateY(180deg); }
  40% { background:chocolate; transform:none; }
  60% { background:white; }
  80% { background:cornflowerblue; }
  90% { transform:none; background:#222; }
}




